In [1]:
import pandas as pd

pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)

In [2]:
df2 = pd.read_csv('../csv/cleaning.csv')

df2.head(6)

,Country,Year,Obesity(%),Unemployment,Meningitis,Alzheimers Disease and Other Dementias,Parkinsons Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Total,GDP,GDP/cap,Elect(lib),CO2/cap,Total alcohol per capita(L),Population
0,Afghanistan,1991,1.1,10.65,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092,156844,0.0,0.0,0.094,0.178155,NaN,13299016.0
1,Afghanistan,1992,1.2,10.82,2475,1162,378,2441,239,1514,2299,3315,48,118,4976,46557,27404,20060,80,855,614,6123,38,12218,4344,2153,3776,386,2404,5106,6223,2830,5335,360,3325,169156,0.0,0.0,0.094,0.122916,NaN,14485543.0
2,Afghanistan,1993,1.2,10.72,2812,1187,384,2837,108,1687,2589,3671,56,132,5254,47951,31116,22335,85,943,225,8174,41,12634,4096,2195,3862,425,2797,5681,6445,2943,5568,396,3601,182230,0.0,0.0,0.092,0.106182,NaN,15816601.0
3,Afghanistan,1994,1.3,10.73,3027,1211,391,3081,211,1809,2849,3863,63,142,5470,49308,33390,23288,88,993,160,8215,44,12914,8959,2231,3932,451,3038,6001,6664,3027,5739,420,3816,194795,0.0,0.0,0.092,0.094065,NaN,17075728.0
4,Afghanistan,1995,1.4,11.18,3102,1225,394,3131,175,1881,2969,4035,71,151,5628,50158,34030,23722,91,1032,381,9566,46,13106,5525,2248,3974,467,3087,6211,6823,3076,5843,434,3946,196528,0.0,0.0,0.092,0.086323,NaN,18110662.0
5,Afghanistan,1996,1.5,10.96,3193,1239,398,3175,175,1969,3331,4203,78,159,5821,51125,34787,24104,93,1070,70,9682,49,13335,3255,2298,4041,485,3130,6446,7000,3133,5966,450,4098,198358,0.0,0.0,0.074,0.080092,NaN,18853444.0

In [3]:
df = pd.read_csv('../csv/cleaning.csv')

df.head(6)

,Country,Year,Obesity(%),Unemployment,Meningitis,Alzheimers Disease and Other Dementias,Parkinsons Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Total,GDP,GDP/cap,Elect(lib),CO2/cap,Total alcohol per capita(L),Population
0,Afghanistan,1991,1.1,10.65,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092,156844,0.0,0.0,0.094,0.178155,NaN,13299016.0
1,Afghanistan,1992,1.2,10.82,2475,1162,378,2441,239,1514,2299,3315,48,118,4976,46557,27404,20060,80,855,614,6123,38,12218,4344,2153,3776,386,2404,5106,6223,2830,5335,360,3325,169156,0.0,0.0,0.094,0.122916,NaN,14485543.0
2,Afghanistan,1993,1.2,10.72,2812,1187,384,2837,108,1687,2589,3671,56,132,5254,47951,31116,22335,85,943,225,8174,41,12634,4096,2195,3862,425,2797,5681,6445,2943,5568,396,3601,182230,0.0,0.0,0.092,0.106182,NaN,15816601.0
3,Afghanistan,1994,1.3,10.73,3027,1211,391,3081,211,1809,2849,3863,63,142,5470,49308,33390,23288,88,993,160,8215,44,12914,8959,2231,3932,451,3038,6001,6664,3027,5739,420,3816,194795,0.0,0.0,0.092,0.094065,NaN,17075728.0
4,Afghanistan,1995,1.4,11.18,3102,1225,394,3131,175,1881,2969,4035,71,151,5628,50158,34030,23722,91,1032,381,9566,46,13106,5525,2248,3974,467,3087,6211,6823,3076,5843,434,3946,196528,0.0,0.0,0.092,0.086323,NaN,18110662.0
5,Afghanistan,1996,1.5,10.96,3193,1239,398,3175,175,1969,3331,4203,78,159,5821,51125,34787,24104,93,1070,70,9682,49,13335,3255,2298,4041,485,3130,6446,7000,3133,5966,450,4098,198358,0.0,0.0,0.074,0.080092,NaN,18853444.0

In [4]:
df.columns

Index(['Country', 'Year', 'Obesity(%)', 'Unemployment', 'Meningitis',
       'Alzheimers Disease and Other Dementias', 'Parkinsons Disease',
       'Nutritional Deficiencies', 'Malaria', 'Drowning',
       'Interpersonal Violence', 'Maternal Disorders', 'HIV/AIDS',
       'Drug Use Disorders', 'Tuberculosis', 'Cardiovascular Diseases',
       'Lower Respiratory Infections', 'Neonatal Disorders',
       'Alcohol Use Disorders', 'Self-harm', 'Exposure to Forces of Nature',
       'Diarrheal Diseases', 'Environmental Heat and Cold Exposure',
       'Neoplasms', 'Conflict and Terrorism', 'Diabetes Mellitus',
       'Chronic Kidney Disease', 'Poisonings', 'Protein-Energy Malnutrition',
       'Road Injuries', 'Chronic Respiratory Diseases',
       'Cirrhosis and Other Chronic Liver Diseases', 'Digestive Diseases',
       'Fire, Heat, and Hot Substances', 'Acute Hepatitis', 'Total', 'GDP',
       'GDP/cap', 'Elect(lib)', 'CO2/cap', 'Total alcohol per capita(L)',
       'Population'],
      dtype='object')

In [5]:
df.Country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iraq', 'Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kuwait', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico',
       'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Tajikistan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Zambia', 'Zimbabwe'], dtype=object)

In [6]:
paises = ['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Rwanda', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Zambia', 'Zimbabwe']

dic_paises = {pais: indice + 1 for indice, pais in enumerate(paises)}

dic_paises

{'Afghanistan': 1,
 'Albania': 2,
 'Algeria': 3,
 'Angola': 4,
 'Argentina': 5,
 'Armenia': 6,
 'Australia': 7,
 'Austria': 8,
 'Azerbaijan': 9,
 'Bahrain': 10,
 'Bangladesh': 11,
 'Barbados': 12,
 'Belarus': 13,
 'Belgium': 14,
 'Benin': 15,
 'Bhutan': 16,
 'Bolivia': 17,
 'Bosnia and Herzegovina': 18,
 'Botswana': 19,
 'Brazil': 20,
 'Bulgaria': 21,
 'Burkina Faso': 22,
 'Burundi': 23,
 'Cambodia': 24,
 'Cameroon': 25,
 'Canada': 26,
 'Central African Republic': 27,
 'Chad': 28,
 'Chile': 29,
 'China': 30,
 'Colombia': 31,
 'Comoros': 32,
 'Costa Rica': 33,
 'Croatia': 34,
 'Cuba': 35,
 'Cyprus': 36,
 'Denmark': 37,
 'Djibouti': 38,
 'Dominican Republic': 39,
 'Ecuador': 40,
 'El Salvador': 41,
 'Equatorial Guinea': 42,
 'Eritrea': 43,
 'Estonia': 44,
 'Ethiopia': 45,
 'Fiji': 46,
 'Finland': 47,
 'France': 48,
 'Gabon': 49,
 'Georgia': 50,
 'Germany': 51,
 'Ghana': 52,
 'Greece': 53,
 'Guatemala': 54,
 'Guinea': 55,
 'Guinea-Bissau': 56,
 'Guyana': 57,
 'Haiti': 58,
 'Honduras': 59,
 'Hungary': 60,
 'Iceland': 61,
 'India': 62,
 'Indonesia': 63,
 'Iraq': 64,
 'Ireland': 65,
 'Israel': 66,
 'Italy': 67,
 'Jamaica': 68,
 'Japan': 69,
 'Jordan': 70,
 'Kazakhstan': 71,
 'Kenya': 72,
 'Kuwait': 73,
 'Latvia': 74,
 'Lebanon': 75,
 'Lesotho': 76,
 'Liberia': 77,
 'Libya': 78,
 'Lithuania': 79,
 'Luxembourg': 80,
 'Madagascar': 81,
 'Malawi': 82,
 'Malaysia': 83,
 'Maldives': 84,
 'Mali': 85,
 'Malta': 86,
 'Mauritania': 87,
 'Mauritius': 88,
 'Mexico': 89,
 'Moldova': 90,
 'Mongolia': 91,
 'Montenegro': 92,
 'Morocco': 93,
 'Mozambique': 94,
 'Myanmar': 95,
 'Namibia': 96,
 'Nepal': 97,
 'Netherlands': 98,
 'New Zealand': 99,
 'Nicaragua': 100,
 'Niger': 101,
 'Nigeria': 102,
 'North Macedonia': 103,
 'Norway': 104,
 'Oman': 105,
 'Pakistan': 106,
 'Panama': 107,
 'Papua New Guinea': 108,
 'Paraguay': 109,
 'Peru': 110,
 'Philippines': 111,
 'Poland': 112,
 'Portugal': 113,
 'Qatar': 114,
 'Romania': 115,
 'Rwanda': 116,
 'Sao Tome and Principe': 117,
 'Saudi Arabia': 118,
 'Senegal': 119,
 'Serbia': 120,
 'Sierra Leone': 121,
 'Singapore': 122,
 'Slovenia': 123,
 'Solomon Islands': 124,
 'Somalia': 125,
 'South Africa': 126,
 'Spain': 127,
 'Sri Lanka': 128,
 'Sudan': 129,
 'Suriname': 130,
 'Sweden': 131,
 'Switzerland': 132,
 'Tajikistan': 133,
 'Tanzania': 134,
 'Thailand': 135,
 'Togo': 136,
 'Trinidad and Tobago': 137,
 'Tunisia': 138,
 'Turkmenistan': 139,
 'Uganda': 140,
 'Ukraine': 141,
 'United Arab Emirates': 142,
 'United Kingdom': 143,
 'Uruguay': 144,
 'Uzbekistan': 145,
 'Vanuatu': 146,
 'Zambia': 147,
 'Zimbabwe': 148}

In [7]:
df_country = pd.DataFrame(list(dic_paises.items()), columns=['Country', 'id_Country'])

df_country = df_country[['id_Country','Country']]

df_country

     id_Country      Country
0             1  Afghanistan
1             2      Albania
2             3      Algeria
3             4       Angola
4             5    Argentina
..          ...          ...
143         144      Uruguay
144         145   Uzbekistan
145         146      Vanuatu
146         147       Zambia
147         148     Zimbabwe

[148 rows x 2 columns]

In [8]:
df.Year.unique()

array([1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016], dtype=int64)

In [9]:
years = [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016]

dic_years = {year: indice + 1 for indice, year in enumerate(years)}

print(dic_years)

{1991: 1, 1992: 2, 1993: 3, 1994: 4, 1995: 5, 1996: 6, 1997: 7, 1998: 8, 1999: 9, 2000: 10, 2001: 11, 2002: 12, 2003: 13, 2004: 14, 2005: 15, 2006: 16, 2007: 17, 2008: 18, 2009: 19, 2010: 20, 2011: 21, 2012: 22, 2013: 23, 2014: 24, 2015: 25, 2016: 26}

In [10]:
df_year = pd.DataFrame(list(dic_years.items()), columns=['Year', 'id_Year'])

df_year = df_year[['id_Year','Year']]

df_year

    id_Year  Year
0         1  1991
1         2  1992
2         3  1993
3         4  1994
4         5  1995
5         6  1996
6         7  1997
7         8  1998
8         9  1999
9        10  2000
10       11  2001
11       12  2002
12       13  2003
13       14  2004
14       15  2005
15       16  2006
16       17  2007
17       18  2008
18       19  2009
19       20  2010
20       21  2011
21       22  2012
22       23  2013
23       24  2014
24       25  2015
25       26  2016

In [11]:
df['id_Country'] = df['Country'].map(dic_paises)

df.head()

,Country,Year,Obesity(%),Unemployment,Meningitis,Alzheimers Disease and Other Dementias,Parkinsons Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Total,GDP,GDP/cap,Elect(lib),CO2/cap,Total alcohol per capita(L),Population,id_Country
0,Afghanistan,1991,1.1,10.65,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092,156844,0.0,0.0,0.094,0.178155,NaN,13299016.0,1.0
1,Afghanistan,1992,1.2,10.82,2475,1162,378,2441,239,1514,2299,3315,48,118,4976,46557,27404,20060,80,855,614,6123,38,12218,4344,2153,3776,386,2404,5106,6223,2830,5335,360,3325,169156,0.0,0.0,0.094,0.122916,NaN,14485543.0,1.0
2,Afghanistan,1993,1.2,10.72,2812,1187,384,2837,108,1687,2589,3671,56,132,5254,47951,31116,22335,85,943,225,8174,41,12634,4096,2195,3862,425,2797,5681,6445,2943,5568,396,3601,182230,0.0,0.0,0.092,0.106182,NaN,15816601.0,1.0
3,Afghanistan,1994,1.3,10.73,3027,1211,391,3081,211,1809,2849,3863,63,142,5470,49308,33390,23288,88,993,160,8215,44,12914,8959,2231,3932,451,3038,6001,6664,3027,5739,420,3816,194795,0.0,0.0,0.092,0.094065,NaN,17075728.0,1.0
4,Afghanistan,1995,1.4,11.18,3102,1225,394,3131,175,1881,2969,4035,71,151,5628,50158,34030,23722,91,1032,381,9566,46,13106,5525,2248,3974,467,3087,6211,6823,3076,5843,434,3946,196528,0.0,0.0,0.092,0.086323,NaN,18110662.0,1.0

In [12]:
df['id_Mortality'] = df.index+1

df

,Country,Year,Obesity(%),Unemployment,Meningitis,Alzheimers Disease and Other Dementias,Parkinsons Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Total,GDP,GDP/cap,Elect(lib),CO2/cap,Total alcohol per capita(L),Population,id_Country,id_Mortality
0,Afghanistan,1991,1.1,10.65,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092,156844,0.000000e+00,0.000000,0.094,0.178155,NaN,13299016.0,1.0,1
1,Afghanistan,1992,1.2,10.82,2475,1162,378,2441,239,1514,2299,3315,48,118,4976,46557,27404,20060,80,855,614,6123,38,12218,4344,2153,3776,386,2404,5106,6223,2830,5335,360,3325,169156,0.000000e+00,0.000000,0.094,0.122916,NaN,14485543.0,1.0,2
2,Afghanistan,1993,1.2,10.72,2812,1187,384,2837,108,1687,2589,3671,56,132,5254,47951,31116,22335,85,943,225,8174,41,12634,4096,2195,3862,425,2797,5681,6445,2943,5568,396,3601,182230,0.000000e+00,0.000000,0.092,0.106182,NaN,15816601.0,1.0,3
3,Afghanistan,1994,1.3,10.73,3027,1211,391,3081,211,1809,2849,3863,63,142,5470,49308,33390,23288,88,993,160,8215,44,12914,8959,2231,3932,451,3038,6001,6664,3027,5739,420,3816,194795,0.000000e+00,0.000000,0.092,0.094065,NaN,17075728.0,1.0,4
4,Afghanistan,1995,1.4,11.18,3102,1225,394,3131,175,1881,2969,4035,71,151,5628,50158,34030,23722,91,1032,381,9566,46,13106,5525,2248,3974,467,3087,6211,6823,3076,5843,434,3946,196528,0.000000e+00,0.000000,0.092,0.086323,NaN,18110662.0,1.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3888,Zimbabwe,2012,11.1,5.15,1586,724,209,3095,2763,754,1243,1414,38354,90,12424,16083,13378,9650,46,2092,0,5830,40,10454,10,2970,2004,366,3065,2328,2708,2011,4132,622,152,140597,1.711485e+10,1304.968011,0.263,0.848359,NaN,13115149.0,148.0,3889
3889,Zimbabwe,2013,11.3,4.98,1448,731,209,3017,3544,732,1241,1385,33646,93,11855,16098,12973,9500,46,2103,125,5528,38,10574,8,3007,2013,362,2987,2289,2693,1964,4107,612,148,135076,1.909102e+10,1429.998461,0.286,0.861011,NaN,13350378.0,148.0,3890
3890,Zimbabwe,2014,11.6,4.77,1422,741,212,2977,3685,734,1257,1362,31034,98,11450,16356,12888,9397,47,2156,8,5247,38,10857,5,3094,2057,367,2948,2302,2715,1952,4138,615,146,132305,1.949552e+10,1434.896277,0.296,0.862180,NaN,13586710.0,148.0,3891
3891,Zimbabwe,2015,11.9,4.78,1439,754,215,3019,2518,770,1302,1355,29162,104,11214,16649,12974,9278,48,2235,16,5102,37,11161,13,3176,2108,381,2990,2373,2751,1956,4202,632,146,130080,1.996312e+10,1445.069702,0.295,0.865772,4.92,13814642.0,148.0,3892
3892,Zimbabwe,2016,12.3,4.79,1457,767,219,3056,2050,801,1342,1338,27141,110,10998,16937,13024,9065,49,2296,31,5002,37,11465,6,3259,2160,393,3027,2436,2788,1962,4264,648,146,128274,2.054868e+10,1464.588957,0.291,0.728822,NaN,14030338.0,148.0,3893

In [13]:
df['id_Year'] = df['Year'].map(dic_years)

df.head()

,Country,Year,Obesity(%),Unemployment,Meningitis,Alzheimers Disease and Other Dementias,Parkinsons Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Total,GDP,GDP/cap,Elect(lib),CO2/cap,Total alcohol per capita(L),Population,id_Country,id_Mortality,id_Year
0,Afghanistan,1991,1.1,10.65,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092,156844,0.0,0.0,0.094,0.178155,NaN,13299016.0,1.0,1,1
1,Afghanistan,1992,1.2,10.82,2475,1162,378,2441,239,1514,2299,3315,48,118,4976,46557,27404,20060,80,855,614,6123,38,12218,4344,2153,3776,386,2404,5106,6223,2830,5335,360,3325,169156,0.0,0.0,0.094,0.122916,NaN,14485543.0,1.0,2,2
2,Afghanistan,1993,1.2,10.72,2812,1187,384,2837,108,1687,2589,3671,56,132,5254,47951,31116,22335,85,943,225,8174,41,12634,4096,2195,3862,425,2797,5681,6445,2943,5568,396,3601,182230,0.0,0.0,0.092,0.106182,NaN,15816601.0,1.0,3,3
3,Afghanistan,1994,1.3,10.73,3027,1211,391,3081,211,1809,2849,3863,63,142,5470,49308,33390,23288,88,993,160,8215,44,12914,8959,2231,3932,451,3038,6001,6664,3027,5739,420,3816,194795,0.0,0.0,0.092,0.094065,NaN,17075728.0,1.0,4,4
4,Afghanistan,1995,1.4,11.18,3102,1225,394,3131,175,1881,2969,4035,71,151,5628,50158,34030,23722,91,1032,381,9566,46,13106,5525,2248,3974,467,3087,6211,6823,3076,5843,434,3946,196528,0.0,0.0,0.092,0.086323,NaN,18110662.0,1.0,5,5

In [14]:
df = df.drop(columns=['Country','Year'])

df

,Obesity(%),Unemployment,Meningitis,Alzheimers Disease and Other Dementias,Parkinsons Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Total,GDP,GDP/cap,Elect(lib),CO2/cap,Total alcohol per capita(L),Population,id_Country,id_Mortality,id_Year
0,1.1,10.65,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092,156844,0.000000e+00,0.000000,0.094,0.178155,NaN,13299016.0,1.0,1,1
1,1.2,10.82,2475,1162,378,2441,239,1514,2299,3315,48,118,4976,46557,27404,20060,80,855,614,6123,38,12218,4344,2153,3776,386,2404,5106,6223,2830,5335,360,3325,169156,0.000000e+00,0.000000,0.094,0.122916,NaN,14485543.0,1.0,2,2
2,1.2,10.72,2812,1187,384,2837,108,1687,2589,3671,56,132,5254,47951,31116,22335,85,943,225,8174,41,12634,4096,2195,3862,425,2797,5681,6445,2943,5568,396,3601,182230,0.000000e+00,0.000000,0.092,0.106182,NaN,15816601.0,1.0,3,3
3,1.3,10.73,3027,1211,391,3081,211,1809,2849,3863,63,142,5470,49308,33390,23288,88,993,160,8215,44,12914,8959,2231,3932,451,3038,6001,6664,3027,5739,420,3816,194795,0.000000e+00,0.000000,0.092,0.094065,NaN,17075728.0,1.0,4,4
4,1.4,11.18,3102,1225,394,3131,175,1881,2969,4035,71,151,5628,50158,34030,23722,91,1032,381,9566,46,13106,5525,2248,3974,467,3087,6211,6823,3076,5843,434,3946,196528,0.000000e+00,0.000000,0.092,0.086323,NaN,18110662.0,1.0,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3888,11.1,5.15,1586,724,209,3095,2763,754,1243,1414,38354,90,12424,16083,13378,9650,46,2092,0,5830,40,10454,10,2970,2004,366,3065,2328,2708,2011,4132,622,152,140597,1.711485e+10,1304.968011,0.263,0.848359,NaN,13115149.0,148.0,3889,22
3889,11.3,4.98,1448,731,209,3017,3544,732,1241,1385,33646,93,11855,16098,12973,9500,46,2103,125,5528,38,10574,8,3007,2013,362,2987,2289,2693,1964,4107,612,148,135076,1.909102e+10,1429.998461,0.286,0.861011,NaN,13350378.0,148.0,3890,23
3890,11.6,4.77,1422,741,212,2977,3685,734,1257,1362,31034,98,11450,16356,12888,9397,47,2156,8,5247,38,10857,5,3094,2057,367,2948,2302,2715,1952,4138,615,146,132305,1.949552e+10,1434.896277,0.296,0.862180,NaN,13586710.0,148.0,3891,24
3891,11.9,4.78,1439,754,215,3019,2518,770,1302,1355,29162,104,11214,16649,12974,9278,48,2235,16,5102,37,11161,13,3176,2108,381,2990,2373,2751,1956,4202,632,146,130080,1.996312e+10,1445.069702,0.295,0.865772,4.92,13814642.0,148.0,3892,25
3892,12.3,4.79,1457,767,219,3056,2050,801,1342,1338,27141,110,10998,16937,13024,9065,49,2296,31,5002,37,11465,6,3259,2160,393,3027,2436,2788,1962,4264,648,146,128274,2.054868e+10,1464.588957,0.291,0.728822,NaN,14030338.0,148.0,3893,26

In [15]:
df['Total alcohol per capita(L)'] = df['Total alcohol per capita(L)'].fillna(0)

In [16]:
df.to_csv('../csv/mortality.csv',index=False)

In [17]:
df_year.to_csv('../csv/year.csv',index=False)

In [18]:
df_country.to_csv('../csv/country.csv',index=False)

In [19]:
df2.to_csv('../csv/completa.csv')