In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.options.display.max_columns = None

In [3]:
df = pd.read_csv('./Probabilidad de morir por pais/cause_of_deaths.csv')

In [4]:
df1 = pd.read_csv('./Probabilidad de morir por pais/death-rate-by-cause-who-mdb.csv')

In [5]:
df_death_2020 = pd.read_html('https://datosmacro.expansion.com/demografia/mortalidad?anio=2020')

In [6]:
df_death_2019 = pd.read_html('https://datosmacro.expansion.com/demografia/mortalidad?anio=2019')

In [7]:
df_death_2019 = df_death_2019[0]

In [8]:
df_death_2020 = df_death_2020[0]

In [9]:
df

,Country/Territory,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,2655,34,93,4661,44899,23741,15612,72,696,0,4235,175,11580,1490,2108,3709,338,2054,4154,5945,2673,5005,323,2985
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,3315,48,118,4976,46557,27404,20060,80,855,614,6123,38,12218,4344,2153,3776,386,2404,5106,6223,2830,5335,360,3325
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,3671,56,132,5254,47951,31116,22335,85,943,225,8174,41,12634,4096,2195,3862,425,2797,5681,6445,2943,5568,396,3601
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,3863,63,142,5470,49308,33390,23288,88,993,160,8215,44,12914,8959,2231,3932,451,3038,6001,6664,3027,5739,420,3816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6115,Zimbabwe,ZWE,2015,1439,754,215,3019,2518,770,1302,1355,29162,104,11214,16649,12974,9278,48,2235,16,5102,37,11161,13,3176,2108,381,2990,2373,2751,1956,4202,632,146
6116,Zimbabwe,ZWE,2016,1457,767,219,3056,2050,801,1342,1338,27141,110,10998,16937,13024,9065,49,2296,31,5002,37,11465,6,3259,2160,393,3027,2436,2788,1962,4264,648,146
6117,Zimbabwe,ZWE,2017,1460,781,223,2990,2116,818,1363,1312,24846,115,10762,17187,12961,8901,50,2338,251,4948,37,11744,5,3313,2196,398,2962,2473,2818,2007,4342,654,144
6118,Zimbabwe,ZWE,2018,1450,795,227,2918,2088,825,1396,1294,22106,121,10545,17460,12860,8697,51,2372,0,4745,37,12038,9,3381,2240,400,2890,2509,2849,2030,4377,657,139
6119,Zimbabwe,ZWE,2019,1450,812,232,2884,2068,827,1434,1294,20722,127,10465,17810,12897,8609,53,2403,660,4635,37,12353,11,3460,2292,405,2855,2554,2891,2065,4437,662,136

In [10]:
df1

,Entity,Code,Year,"Age-standardized deaths that are from malignant neoplasms per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from cardiovascular diseases per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from respiratory infections per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from infectious and parasitic diseases per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from digestive diseases per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from unintentional injuries per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from intentional injuries per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from neuropsychiatric conditions per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from respiratory diseases per 100,000 people, in both sexes aged all ages"
0,Albania,ALB,1987,88.860980,331.37842,69.320970,13.346996,26.685045,20.186192,3.968410,15.738141,26.313232
1,Albania,ALB,1988,99.332530,333.62150,59.967080,11.110825,25.621843,21.611263,3.857150,15.147495,26.932293
2,Albania,ALB,1989,92.817200,339.13010,75.361850,15.654971,25.803211,23.080498,4.757231,16.810797,25.726141
3,Albania,ALB,1992,74.528990,289.65850,64.096940,9.986380,20.881680,28.329859,6.022823,16.140594,21.516480
4,Albania,ALB,1993,66.275505,264.37045,69.783660,13.130654,21.906736,31.997355,9.344987,22.926090,23.432169
...,...,...,...,...,...,...,...,...,...,...,...,...
4702,Venezuela,VEN,2012,98.584920,201.83017,21.126587,24.427929,25.068110,35.470535,36.055940,8.337194,23.721012
4703,Venezuela,VEN,2013,96.557110,196.01802,23.221132,23.704365,25.595743,34.102210,31.627296,8.256356,23.691648
4704,Venezuela,VEN,2014,98.284260,212.63083,25.174698,27.475836,27.808544,32.278560,32.315693,9.132934,26.519331
4705,Venezuela,VEN,2016,99.315125,224.29936,32.099160,36.230183,29.906110,28.925144,50.538990,14.213993,27.216429
4706,Venezuela,VEN,2015,96.911890,208.01509,27.281538,28.887978,25.773838,28.171406,38.241080,10.271980,26.790356

In [11]:
df = df.rename(columns={"Alzheimer's Disease and Other Dementias": 'Alzheimers Disease and Other Dementias',"Parkinson's Disease":"Parkinsons Disease"})

df

,Country/Territory,Code,Year,Meningitis,Alzheimers Disease and Other Dementias,Parkinsons Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,2655,34,93,4661,44899,23741,15612,72,696,0,4235,175,11580,1490,2108,3709,338,2054,4154,5945,2673,5005,323,2985
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,3315,48,118,4976,46557,27404,20060,80,855,614,6123,38,12218,4344,2153,3776,386,2404,5106,6223,2830,5335,360,3325
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,3671,56,132,5254,47951,31116,22335,85,943,225,8174,41,12634,4096,2195,3862,425,2797,5681,6445,2943,5568,396,3601
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,3863,63,142,5470,49308,33390,23288,88,993,160,8215,44,12914,8959,2231,3932,451,3038,6001,6664,3027,5739,420,3816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6115,Zimbabwe,ZWE,2015,1439,754,215,3019,2518,770,1302,1355,29162,104,11214,16649,12974,9278,48,2235,16,5102,37,11161,13,3176,2108,381,2990,2373,2751,1956,4202,632,146
6116,Zimbabwe,ZWE,2016,1457,767,219,3056,2050,801,1342,1338,27141,110,10998,16937,13024,9065,49,2296,31,5002,37,11465,6,3259,2160,393,3027,2436,2788,1962,4264,648,146
6117,Zimbabwe,ZWE,2017,1460,781,223,2990,2116,818,1363,1312,24846,115,10762,17187,12961,8901,50,2338,251,4948,37,11744,5,3313,2196,398,2962,2473,2818,2007,4342,654,144
6118,Zimbabwe,ZWE,2018,1450,795,227,2918,2088,825,1396,1294,22106,121,10545,17460,12860,8697,51,2372,0,4745,37,12038,9,3381,2240,400,2890,2509,2849,2030,4377,657,139
6119,Zimbabwe,ZWE,2019,1450,812,232,2884,2068,827,1434,1294,20722,127,10465,17810,12897,8609,53,2403,660,4635,37,12353,11,3460,2292,405,2855,2554,2891,2065,4437,662,136

In [12]:
columnas_sumar = ['Meningitis', 'Alzheimers Disease and Other Dementias',
       'Parkinsons Disease', 'Nutritional Deficiencies', 'Malaria',
       'Drowning', 'Interpersonal Violence', 'Maternal Disorders', 'HIV/AIDS',
       'Drug Use Disorders', 'Tuberculosis', 'Cardiovascular Diseases',
       'Lower Respiratory Infections', 'Neonatal Disorders',
       'Alcohol Use Disorders', 'Self-harm', 'Exposure to Forces of Nature',
       'Diarrheal Diseases', 'Environmental Heat and Cold Exposure',
       'Neoplasms', 'Conflict and Terrorism', 'Diabetes Mellitus',
       'Chronic Kidney Disease', 'Poisonings', 'Protein-Energy Malnutrition',
       'Road Injuries', 'Chronic Respiratory Diseases',
       'Cirrhosis and Other Chronic Liver Diseases', 'Digestive Diseases',
       'Fire, Heat, and Hot Substances', 'Acute Hepatitis']

In [13]:
df['Total'] = df[columnas_sumar].sum(axis=1)

In [14]:
df.isna().sum()

Country/Territory                             0
Code                                          0
Year                                          0
Meningitis                                    0
Alzheimers Disease and Other Dementias        0
Parkinsons Disease                            0
Nutritional Deficiencies                      0
Malaria                                       0
Drowning                                      0
Interpersonal Violence                        0
Maternal Disorders                            0
HIV/AIDS                                      0
Drug Use Disorders                            0
Tuberculosis                                  0
Cardiovascular Diseases                       0
Lower Respiratory Infections                  0
Neonatal Disorders                            0
Alcohol Use Disorders                         0
Self-harm                                     0
Exposure to Forces of Nature                  0
Diarrheal Diseases                            0
Environmental Heat and Cold Exposure          0
Neoplasms                                     0
Conflict and Terrorism                        0
Diabetes Mellitus                             0
Chronic Kidney Disease                        0
Poisonings                                    0
Protein-Energy Malnutrition                   0
Road Injuries                                 0
Chronic Respiratory Diseases                  0
Cirrhosis and Other Chronic Liver Diseases    0
Digestive Diseases                            0
Fire, Heat, and Hot Substances                0
Acute Hepatitis                               0
Total                                         0
dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6120 entries, 0 to 6119
Data columns (total 35 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country/Territory                           6120 non-null   object
 1   Code                                        6120 non-null   object
 2   Year                                        6120 non-null   int64
 3   Meningitis                                  6120 non-null   int64
 4   Alzheimers Disease and Other Dementias      6120 non-null   int64
 5   Parkinsons Disease                          6120 non-null   int64
 6   Nutritional Deficiencies                    6120 non-null   int64
 7   Malaria                                     6120 non-null   int64
 8   Drowning                                    6120 non-null   int64
 9   Interpersonal Violence                      6120 non-null   int64
 10  Maternal Disorders                          6120 non-null   int64
 11  HIV/AIDS                                    6120 non-null   int64
 12  Drug Use Disorders                          6120 non-null   int64
 13  Tuberculosis                                6120 non-null   int64
 14  Cardiovascular Diseases                     6120 non-null   int64
 15  Lower Respiratory Infections                6120 non-null   int64
 16  Neonatal Disorders                          6120 non-null   int64
 17  Alcohol Use Disorders                       6120 non-null   int64
 18  Self-harm                                   6120 non-null   int64
 19  Exposure to Forces of Nature                6120 non-null   int64
 20  Diarrheal Diseases                          6120 non-null   int64
 21  Environmental Heat and Cold Exposure        6120 non-null   int64
 22  Neoplasms                                   6120 non-null   int64
 23  Conflict and Terrorism                      6120 non-null   int64
 24  Diabetes Mellitus                           6120 non-null   int64
 25  Chronic Kidney Disease                      6120 non-null   int64
 26  Poisonings                                  6120 non-null   int64
 27  Protein-Energy Malnutrition                 6120 non-null   int64
 28  Road Injuries                               6120 non-null   int64
 29  Chronic Respiratory Diseases                6120 non-null   int64
 30  Cirrhosis and Other Chronic Liver Diseases  6120 non-null   int64
 31  Digestive Diseases                          6120 non-null   int64
 32  Fire, Heat, and Hot Substances              6120 non-null   int64
 33  Acute Hepatitis                             6120 non-null   int64
 34  Total                                       6120 non-null   int64
dtypes: int64(33), object(2)
memory usage: 1.6+ MB

In [16]:
df_2000 = df[df.Year == 2000]

df_2000

,Country/Territory,Code,Year,Meningitis,Alzheimers Disease and Other Dementias,Parkinsons Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Total
10,Afghanistan,AFG,2000,3105,1291,416,3060,263,2048,2871,4271,97,186,5864,53919,32395,22920,99,1137,0,11323,52,13977,5429,2515,4182,499,3013,6581,7471,3249,6206,465,4334,203238
40,Albania,ALB,2000,48,438,117,22,0,91,309,8,2,21,21,7641,875,711,14,151,0,15,6,3073,1,141,244,24,21,259,753,265,451,21,1,15744
70,Algeria,DZA,2000,586,2219,597,308,0,963,621,1027,123,327,625,64792,5897,13420,89,1591,48,1247,33,12910,2534,2062,4136,449,279,13538,5124,2870,4533,1032,441,144421
100,American Samoa,ASM,2000,1,4,2,2,0,4,4,1,0,0,1,88,11,10,1,4,0,2,1,43,0,28,14,0,2,6,20,6,11,0,0,266
130,Andorra,AND,2000,0,14,4,0,0,0,0,0,3,0,0,100,10,1,1,7,0,0,0,148,0,6,7,0,0,8,24,9,16,0,1,359
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5980,Venezuela,VEN,2000,399,2820,479,1004,58,700,7857,339,1408,36,780,31963,3277,4985,206,2047,26,2181,8,16887,25,4363,4059,88,947,5408,3388,2502,4637,149,27,103053
6017,Vietnam,VNM,2000,1297,9640,2162,1548,1312,6882,1726,407,3767,501,25011,149561,18914,16129,531,5851,592,3978,109,57718,0,14081,10580,1238,239,15075,27861,16378,23472,548,1028,418136
6049,Yemen,YEM,2000,773,801,176,2816,5305,956,391,1845,168,83,1104,31976,9147,25213,45,823,0,18128,32,6094,19,748,1446,405,2739,8471,3805,1971,3405,785,978,130648
6070,Zambia,ZMB,2000,3552,349,117,3546,9052,407,793,1025,60302,23,10600,10320,12161,9768,77,857,0,14441,81,5768,1,1652,1267,291,3423,1773,1868,3124,4623,296,332,161889
6100,Zimbabwe,ZWE,2000,1243,661,193,1630,5353,487,1042,591,101864,67,7897,12372,9576,7714,39,1543,70,4124,30,8300,27,2021,1516,251,1605,2322,2252,1795,3433,403,100,180521

In [17]:
df = df.rename(columns={'Country/Territory': 'Country'})

In [18]:
df_2019 = df[df.Year == 2019]

df_2019

,Country,Code,Year,Meningitis,Alzheimers Disease and Other Dementias,Parkinsons Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Total
29,Afghanistan,AFG,2019,1563,1775,560,1244,530,1687,5015,4038,318,406,3627,61995,18697,23701,147,1613,128,4320,59,21247,24295,4817,5637,525,1210,8254,7082,3797,6929,485,1940,217641
59,Albania,ALB,2019,13,917,248,5,0,36,57,3,2,29,11,12904,457,161,18,152,51,7,4,4705,0,175,329,11,3,243,815,333,527,18,1,22235
89,Algeria,DZA,2019,292,5209,1283,114,0,526,459,638,264,526,445,97931,5786,8756,111,1516,0,527,40,23816,13,5328,8201,351,92,11051,7528,4045,6398,782,259,192287
119,American Samoa,ASM,2019,1,7,3,2,0,4,3,1,0,0,1,125,12,4,1,4,0,3,0,68,0,44,26,0,2,5,23,7,14,0,0,360
149,Andorra,AND,2019,0,36,7,0,0,0,0,0,3,0,0,169,20,0,1,8,0,1,0,230,0,9,16,0,0,8,39,12,27,0,1,587
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5999,Venezuela,VEN,2019,254,6313,1119,552,667,524,10944,497,1850,90,826,61510,5555,3338,188,2310,0,1418,11,34771,0,10795,10405,82,527,6207,7062,4692,8601,196,21,181325
6029,Vietnam,VNM,2019,747,19460,4259,954,59,6098,1267,234,6399,1176,18681,240161,21345,6468,1000,8114,5,1672,82,112564,0,29391,21485,935,95,24153,36229,23637,31306,608,674,619258
6059,Yemen,YEM,2019,479,1731,413,1010,5089,843,820,1705,347,261,1029,55752,6289,18982,82,1560,0,6614,43,12681,13402,1815,2676,450,941,11717,5738,2786,4877,839,523,161494
6089,Zambia,ZMB,2019,2065,763,203,1899,4777,359,1616,804,22540,60,7056,18157,8190,9851,137,1398,4,7224,84,9789,1,2573,1931,309,1828,2285,2388,4593,6528,326,263,120001
6119,Zimbabwe,ZWE,2019,1450,812,232,2884,2068,827,1434,1294,20722,127,10465,17810,12897,8609,53,2403,660,4635,37,12353,11,3460,2292,405,2855,2554,2891,2065,4437,662,136,123540

In [19]:
df.Country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'North Korea', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [20]:
df_spain = df[df.Country == 'Spain']

df_spain

,Country,Code,Year,Meningitis,Alzheimers Disease and Other Dementias,Parkinsons Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Total
5100,Spain,ESP,1990,370,11872,2685,205,0,837,445,36,2119,585,1109,125150,9015,1450,339,3538,10,253,104,83062,51,9643,7675,208,117,9336,22694,11525,20287,338,17,325075
5101,Spain,ESP,1991,358,12735,2768,214,0,803,414,32,2765,718,1051,125014,8856,1346,338,3567,1,246,103,84960,90,9695,7800,204,119,9108,23295,11397,20350,323,16,328686
5102,Spain,ESP,1992,339,13557,2813,218,0,755,405,33,3593,800,977,122785,8665,1286,333,3508,0,243,100,85862,52,9545,7796,195,121,8528,23463,11084,20093,312,16,327477
5103,Spain,ESP,1993,325,14438,2902,225,0,713,408,27,4336,848,919,122779,8708,1164,333,3498,1,251,96,87222,12,9591,7860,187,123,7951,24062,10863,20045,299,16,330202
5104,Spain,ESP,1994,311,15274,2986,236,0,690,399,25,5045,895,872,122546,8732,1024,335,3514,16,263,98,88488,28,9620,7958,181,125,7525,24563,10652,20059,341,16,332817
5105,Spain,ESP,1995,304,16044,3098,253,0,667,397,23,5826,928,851,123657,8981,934,335,3558,14,279,172,90307,31,9720,8159,176,133,7279,25523,10522,20233,281,16,338701
5106,Spain,ESP,1996,311,16777,3220,262,0,654,385,20,5616,939,826,125280,9261,919,343,3615,175,291,95,91743,9,9810,8394,170,138,7114,26512,10437,20483,279,17,344095
5107,Spain,ESP,1997,300,17413,3309,275,0,638,401,20,3218,957,782,124917,9500,861,346,3651,47,305,88,91886,17,9773,8581,163,147,7072,27039,10129,20376,277,17,342505
5108,Spain,ESP,1998,269,18127,3481,290,0,629,407,19,2095,939,754,127850,10049,826,362,3680,0,338,80,93671,17,10021,8898,156,153,7092,28396,10074,20752,278,17,349720
5109,Spain,ESP,1999,274,18782,3639,310,0,619,427,20,2025,912,749,130496,10600,824,396,3714,7,375,69,95571,5,10140,9219,147,166,7055,29517,9992,21005,279,18,357352
5110,Spain,ESP,2000,270,19317,3697,312,0,612,471,19,1840,882,698,127295,10451,834,412,3722,10,414,66,95045,50,9936,9374,138,174,6866,28949,9663,20720,272,17,352526
5111,Spain,ESP,2001,262,20064,3838,314,0,604,492,22,1762,860,669,126577,10422,827,433,3725,6,452,67,95712,53,10001,9611,134,178,6645,28926,9572,20877,272,18,353395
5112,Spain,ESP,2002,264,20801,4053,324,0,592,506,20,1749,840,654,127784,10847,873,440,3786,33,506,68,97068,15,10206,9967,127,186,6436,29823,9578,21315,272,18,359151
5113,Spain,ESP,2003,265,21542,4291,333,0,605,529,25,1732,824,636,129813,11219,904,453,3857,7,564,239,99149,20,10497,10384,128,192,6232,30647,9680,21892,316,18,366993
5114,Spain,ESP,2004,261,22041,4422,330,0,591,593,25,1656,807,606,127483,11181,910,461,3832,9,597,156,100015,384,10433,10518,125,189,5762,30444,9515,21841,312,17,365516
5115,Spain,ESP,2005,257,22619,4596,336,0,574,477,25,1534,798,592,126779,11516,908,456,3834,26,636,109,101587,18,10482,10829,127,188,5379,30879,9453,21954,312,17,367297
5116,Spain,ESP,2006,249,23256,4691,332,0,563,466,21,1409,776,561,123921,11289,893,454,3803,7,670,128,102950,2,10284,11000,120,192,4916,30258,9223,21750,273,17,364474
5117,Spain,ESP,2007,248,24082,4883,338,0,554,436,21,1394,771,542,123230,11473,921,443,3849,13,723,72,105944,2,10305,11380,117,195,4528,30740,9149,21846,260,16,368475
5118,Spain,ESP,2008,240,24929,5044,346,0,539,450,25,1292,770,512,122024,11582,912,433,3872,15,771,70,108593,6,10236,11676,116,198,4054,30863,8970,21799,256,16,370609
5119,Spain,ESP,2009,228,25615,5134,357,0,519,423,22,1143,739,484,119442,11408,864,430,3829,7,815,67,110520,6,9972,11888,112,202,3604,30756,8713,21501,245,15,369060
5120,Spain,ESP,2010,215,26240,5205,364,0,492,395,23,1078,717,458,117230,11205,832,427,3778,11,883,64,112037,1,9674,12081,110,209,3235,30650,8443,21188,239,15,367499
5121,Spain,ESP,2011,211,26919,5377,374,0,483,396,19,985,709,437,117880,11487,797,424,3802,16,945,60,114873,1,9601,12461,112,214,2979,31269,8313,21328,236,14,372722
5122,Spain,ESP,2012,202,27264,5533,387,0,469,363,15,883,706,426,118870,11898,737,420,3858,13,1016,59,117023,0,9490,12857,112,225,2762,32142,8181,21451,260,14,377636
5123,Spain,ESP,2013,191,27315,5559,388,0,448,350,19,776,691,402,117509,11911,662,412,3848,11,1053,56,117532,0,9188,12932,111,233,2546,32019,7974,21266,229,14,375645
5124,Spain,ESP,2014,187,27539,5673,406,0,444,348,15,703,687,391,118923,12347,666,409,3846,3,1103,55,118929,0,9188,13216,110,252,2479,32866,7921,21502,232,14,380454
5125,Spain,ESP,2015,188,27989,5874,434,0,442,324,17,668,693,387,122974,13125,615,409,3857,6,1183,59,121607,0,9401,13757,109,273,2459,34511,8063,22158,239,14,391835
5126,Spain,ESP,2016,164,28495,5902,437,0,434,324,18,724,696,376,123016,13192,597,409,3784,8,1205,58,122150,0,9335,13737,109,286,2435,34626,7949,22157,238,13,392874
5127,Spain,ESP,2017,159,29051,5941,446,0,429,328,15,713,689,374,125373,13463,556,419,3746,0,1191,58,123098,16,9546,13923,108,288,2465,35204,8050,22416,240,14,398319
5128,Spain,ESP,2018,157,29347,6048,457,0,429,334,15,698,714,377,128774,13844,518,423,3764,15,1206,68,124266,0,9864,14308,108,295,2535,35894,8129,22839,238,14,405678
5129,Spain,ESP,2019,155,29208,6137,467,0,425,335,15,679,728,378,131493,14184,483,429,3759,0,1213,59,125835,1,10135,14645,108,302,2570,36560,8218,23212,239,14,411986

In [21]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [22]:
df_spain.sum()

Country                                       SpainSpainSpainSpainSpainSpainSpainSpainSpainS...
Code                                          ESPESPESPESPESPESPESPESPESPESPESPESPESPESPESPE...
Year                                                                                      60135
Meningitis                                                                                 7534
Alzheimers Disease and Other Dementias                                                   658652
Parkinsons Disease                                                                       132799
Nutritional Deficiencies                                                                   9970
Malaria                                                                                       0
Drowning                                                                                  17253
Interpersonal Violence                                                                    12428
Maternal Disorders                                                                          651
HIV/AIDS                                                                                  60056
Drug Use Disorders                                                                        23618
Tuberculosis                                                                              18850
Cardiovascular Diseases                                                                 3726864
Lower Respiratory Infections                                                             330411
Neonatal Disorders                                                                        25943
Alcohol Use Disorders                                                                     12056
Self-harm                                                                                111994
Exposure to Forces of Nature                                                                487
Diarrheal Diseases                                                                        19990
Environmental Heat and Cold Exposure                                                       2643
Neoplasms                                                                               3106705
Conflict and Terrorism                                                                      887
Diabetes Mellitus                                                                        295332
Chronic Kidney Disease                                                                   322884
Poisonings                                                                                 4128
Protein-Energy Malnutrition                                                                5813
Road Injuries                                                                            158947
Chronic Respiratory Diseases                                                             893090
Cirrhosis and Other Chronic Liver Diseases                                               281432
Digestive Diseases                                                                       638695
Fire, Heat, and Hot Substances                                                             8187
Acute Hepatitis                                                                             475
Total                                                                                  10888774
dtype: object

In [23]:
df_spain_2019 = df[(df.Country == 'Spain')&(df.Year == 2019)]

df_spain_2019

,Country,Code,Year,Meningitis,Alzheimers Disease and Other Dementias,Parkinsons Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Total
5129,Spain,ESP,2019,155,29208,6137,467,0,425,335,15,679,728,378,131493,14184,483,429,3759,0,1213,59,125835,1,10135,14645,108,302,2570,36560,8218,23212,239,14,411986

In [24]:
columnas_numericas = df_spain_2019.select_dtypes(include='number')

# Sumar los valores de las columnas numéricas para una fila específica (por ejemplo, la fila 0)
suma_fila = columnas_numericas.iloc[0].sum()

suma_fila

825991

In [25]:
df_2019

,Country,Code,Year,Meningitis,Alzheimers Disease and Other Dementias,Parkinsons Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Total
29,Afghanistan,AFG,2019,1563,1775,560,1244,530,1687,5015,4038,318,406,3627,61995,18697,23701,147,1613,128,4320,59,21247,24295,4817,5637,525,1210,8254,7082,3797,6929,485,1940,217641
59,Albania,ALB,2019,13,917,248,5,0,36,57,3,2,29,11,12904,457,161,18,152,51,7,4,4705,0,175,329,11,3,243,815,333,527,18,1,22235
89,Algeria,DZA,2019,292,5209,1283,114,0,526,459,638,264,526,445,97931,5786,8756,111,1516,0,527,40,23816,13,5328,8201,351,92,11051,7528,4045,6398,782,259,192287
119,American Samoa,ASM,2019,1,7,3,2,0,4,3,1,0,0,1,125,12,4,1,4,0,3,0,68,0,44,26,0,2,5,23,7,14,0,0,360
149,Andorra,AND,2019,0,36,7,0,0,0,0,0,3,0,0,169,20,0,1,8,0,1,0,230,0,9,16,0,0,8,39,12,27,0,1,587
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5999,Venezuela,VEN,2019,254,6313,1119,552,667,524,10944,497,1850,90,826,61510,5555,3338,188,2310,0,1418,11,34771,0,10795,10405,82,527,6207,7062,4692,8601,196,21,181325
6029,Vietnam,VNM,2019,747,19460,4259,954,59,6098,1267,234,6399,1176,18681,240161,21345,6468,1000,8114,5,1672,82,112564,0,29391,21485,935,95,24153,36229,23637,31306,608,674,619258
6059,Yemen,YEM,2019,479,1731,413,1010,5089,843,820,1705,347,261,1029,55752,6289,18982,82,1560,0,6614,43,12681,13402,1815,2676,450,941,11717,5738,2786,4877,839,523,161494
6089,Zambia,ZMB,2019,2065,763,203,1899,4777,359,1616,804,22540,60,7056,18157,8190,9851,137,1398,4,7224,84,9789,1,2573,1931,309,1828,2285,2388,4593,6528,326,263,120001
6119,Zimbabwe,ZWE,2019,1450,812,232,2884,2068,827,1434,1294,20722,127,10465,17810,12897,8609,53,2403,660,4635,37,12353,11,3460,2292,405,2855,2554,2891,2065,4437,662,136,123540

In [26]:
df_2019.Total.sum()

54362920

In [27]:
df

,Country,Code,Year,Meningitis,Alzheimers Disease and Other Dementias,Parkinsons Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Total
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,2655,34,93,4661,44899,23741,15612,72,696,0,4235,175,11580,1490,2108,3709,338,2054,4154,5945,2673,5005,323,2985,147971
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092,156844
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,3315,48,118,4976,46557,27404,20060,80,855,614,6123,38,12218,4344,2153,3776,386,2404,5106,6223,2830,5335,360,3325,169156
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,3671,56,132,5254,47951,31116,22335,85,943,225,8174,41,12634,4096,2195,3862,425,2797,5681,6445,2943,5568,396,3601,182230
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,3863,63,142,5470,49308,33390,23288,88,993,160,8215,44,12914,8959,2231,3932,451,3038,6001,6664,3027,5739,420,3816,194795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6115,Zimbabwe,ZWE,2015,1439,754,215,3019,2518,770,1302,1355,29162,104,11214,16649,12974,9278,48,2235,16,5102,37,11161,13,3176,2108,381,2990,2373,2751,1956,4202,632,146,130080
6116,Zimbabwe,ZWE,2016,1457,767,219,3056,2050,801,1342,1338,27141,110,10998,16937,13024,9065,49,2296,31,5002,37,11465,6,3259,2160,393,3027,2436,2788,1962,4264,648,146,128274
6117,Zimbabwe,ZWE,2017,1460,781,223,2990,2116,818,1363,1312,24846,115,10762,17187,12961,8901,50,2338,251,4948,37,11744,5,3313,2196,398,2962,2473,2818,2007,4342,654,144,126515
6118,Zimbabwe,ZWE,2018,1450,795,227,2918,2088,825,1396,1294,22106,121,10545,17460,12860,8697,51,2372,0,4745,37,12038,9,3381,2240,400,2890,2509,2849,2030,4377,657,139,123506
6119,Zimbabwe,ZWE,2019,1450,812,232,2884,2068,827,1434,1294,20722,127,10465,17810,12897,8609,53,2403,660,4635,37,12353,11,3460,2292,405,2855,2554,2891,2065,4437,662,136,123540

In [28]:
df_death_2019['Muertes'] = df_death_2019['Muertes'].str.replace('.', '')

In [29]:
df_death_2019['Muertes']

0      418703
1      939520
2      604621
3      613388
4      634417
        ...
190      1084
191    199961
192    506288
193    120775
194    123497
Name: Muertes, Length: 195, dtype: object

In [30]:
df_death_2019['Muertes'] = df_death_2019['Muertes'].astype(int)

In [31]:
df_death_2019['Muertes'].sum()

56933971

In [32]:
df_death_2020['Muertes'] = df_death_2020['Muertes'].str.replace('.', '')

In [33]:
df_death_2020['Muertes'] = df_death_2020['Muertes'].astype(int)

In [34]:
df_death_2020['Muertes'].sum()

61919236

In [35]:
df_2000 = df[df.Year == 2000]

df_2000

,Country,Code,Year,Meningitis,Alzheimers Disease and Other Dementias,Parkinsons Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Total
10,Afghanistan,AFG,2000,3105,1291,416,3060,263,2048,2871,4271,97,186,5864,53919,32395,22920,99,1137,0,11323,52,13977,5429,2515,4182,499,3013,6581,7471,3249,6206,465,4334,203238
40,Albania,ALB,2000,48,438,117,22,0,91,309,8,2,21,21,7641,875,711,14,151,0,15,6,3073,1,141,244,24,21,259,753,265,451,21,1,15744
70,Algeria,DZA,2000,586,2219,597,308,0,963,621,1027,123,327,625,64792,5897,13420,89,1591,48,1247,33,12910,2534,2062,4136,449,279,13538,5124,2870,4533,1032,441,144421
100,American Samoa,ASM,2000,1,4,2,2,0,4,4,1,0,0,1,88,11,10,1,4,0,2,1,43,0,28,14,0,2,6,20,6,11,0,0,266
130,Andorra,AND,2000,0,14,4,0,0,0,0,0,3,0,0,100,10,1,1,7,0,0,0,148,0,6,7,0,0,8,24,9,16,0,1,359
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5980,Venezuela,VEN,2000,399,2820,479,1004,58,700,7857,339,1408,36,780,31963,3277,4985,206,2047,26,2181,8,16887,25,4363,4059,88,947,5408,3388,2502,4637,149,27,103053
6017,Vietnam,VNM,2000,1297,9640,2162,1548,1312,6882,1726,407,3767,501,25011,149561,18914,16129,531,5851,592,3978,109,57718,0,14081,10580,1238,239,15075,27861,16378,23472,548,1028,418136
6049,Yemen,YEM,2000,773,801,176,2816,5305,956,391,1845,168,83,1104,31976,9147,25213,45,823,0,18128,32,6094,19,748,1446,405,2739,8471,3805,1971,3405,785,978,130648
6070,Zambia,ZMB,2000,3552,349,117,3546,9052,407,793,1025,60302,23,10600,10320,12161,9768,77,857,0,14441,81,5768,1,1652,1267,291,3423,1773,1868,3124,4623,296,332,161889
6100,Zimbabwe,ZWE,2000,1243,661,193,1630,5353,487,1042,591,101864,67,7897,12372,9576,7714,39,1543,70,4124,30,8300,27,2021,1516,251,1605,2322,2252,1795,3433,403,100,180521

In [36]:
df_2000.Total.sum()

48050317

In [37]:
df.index[df.Year == 2000]

Index([  10,   40,   70,  100,  130,  160,  190,  220,  250,  280,
       ...
       5840, 5860, 5890, 5920, 5950, 5980, 6017, 6049, 6070, 6100],
      dtype='int64', length=204)

In [38]:
df.loc[df.index[df.Year == 1990][1], 'Country']

'Albania'

In [39]:
'''
for i in df.Year:
    contador = 0
    if i == 2019:
        contador = contador +1
    print(df.loc[df.index[df.Year == i][contador], 'Country'],i, ': ',df[df.Year == i].Total.sum())
'''

"\nfor i in df.Year:\n    contador = 0\n    if i == 2019:\n        contador = contador +1\n    print(df.loc[df.index[df.Year == i][contador], 'Country'],i, ': ',df[df.Year == i].Total.sum())\n"

In [40]:
df_2018 = df[df.Year == 2018]

In [41]:
df.groupby('Year')['Total'].sum()

Year
1990    43518516
1991    44059729
1992    44459130
1993    45185713
1994    46182613
1995    46177018
1996    46320827
1997    46672370
1998    47066088
1999    47652090
2000    48050317
2001    48385692
2002    48897031
2003    49123952
2004    49330171
2005    49591909
2006    49424521
2007    49495216
2008    50115740
2009    49900666
2010    50422775
2011    50413303
2012    50597654
2013    50931550
2014    51268375
2015    51856393
2016    52337435
2017    52789758
2018    53545244
2019    54362920
Name: Total, dtype: int64

In [42]:
df_2018.Total.sum()

53545244

In [43]:
df1_spain = df1[df1['Entity'] == 'Spain']

df1_spain

,Entity,Code,Year,"Age-standardized deaths that are from malignant neoplasms per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from cardiovascular diseases per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from respiratory infections per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from infectious and parasitic diseases per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from digestive diseases per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from unintentional injuries per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from intentional injuries per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from neuropsychiatric conditions per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from respiratory diseases per 100,000 people, in both sexes aged all ages"
3897,Spain,ESP,1951,86.345550,395.212340,152.824170,161.442580,58.569190,28.450098,6.521125,31.988500,73.186130
3898,Spain,ESP,1952,89.426834,322.569670,87.395256,116.102850,52.929850,26.892700,6.523855,20.621130,54.122017
3899,Spain,ESP,1953,90.726456,327.926200,86.791530,99.396540,44.490685,25.571490,7.637822,21.594580,43.882454
3900,Spain,ESP,1954,94.426630,315.015900,66.540306,88.377210,41.878155,27.211470,7.219578,20.222122,37.365930
3901,Spain,ESP,1955,101.842830,321.553000,78.573850,87.328740,42.310960,29.743744,6.974757,19.864796,39.870090
...,...,...,...,...,...,...,...,...,...,...,...,...
3963,Spain,ESP,2019,101.356960,77.615720,7.637719,5.071931,16.907635,11.360362,6.233921,30.557290,23.015043
3964,Spain,ESP,2018,103.761200,81.984240,8.602348,5.478464,16.995636,11.796512,5.987355,30.938143,26.057512
3965,Spain,ESP,2017,105.912950,84.262985,8.018686,5.870547,16.671267,11.813179,6.332706,30.914785,25.594797
3966,Spain,ESP,2016,107.547150,84.943306,7.379743,6.240710,16.625530,11.691671,6.053377,30.619864,24.474302
3967,Spain,ESP,2015,108.096320,89.445970,8.053640,6.927658,17.434383,11.261561,6.195061,31.844635,27.646788

In [44]:
df1_2020 = df1[df1.Year == 2020]

df1_2020

,Entity,Code,Year,"Age-standardized deaths that are from malignant neoplasms per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from cardiovascular diseases per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from respiratory infections per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from infectious and parasitic diseases per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from digestive diseases per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from unintentional injuries per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from intentional injuries per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from neuropsychiatric conditions per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from respiratory diseases per 100,000 people, in both sexes aged all ages"
64,Antigua and Barbuda,ATG,2020,110.541340,197.009220,25.599234,24.842838,19.652227,11.634070,4.936077,11.627691,26.505396
113,Argentina,ARG,2020,102.894890,147.204280,129.054060,22.155130,25.787622,13.940439,9.502728,10.923698,39.073338
150,Armenia,ARM,2020,127.137610,375.821600,136.314000,5.142853,31.128565,18.192677,119.954200,6.058645,14.914362
221,Australia,AUS,2020,96.517850,68.418724,5.310236,4.290428,12.665214,13.859807,12.209084,36.948093,17.970085
288,Austria,AUT,2020,103.420780,120.462850,29.078295,4.271992,16.063562,16.271797,8.514010,26.776007,15.471856
571,Bosnia and Herzegovina,BIH,2020,121.426460,267.743070,82.191960,7.424727,16.729841,NaN,NaN,12.317345,20.040466
612,Brazil,BRA,2020,90.760030,141.095580,112.454056,22.909931,26.871363,28.984585,28.604310,24.660833,31.194950
693,Bulgaria,BGR,2020,123.814760,416.986240,77.112610,3.984288,30.847996,15.008374,6.363868,8.386271,18.299446
831,Chile,CHL,2020,98.886690,94.643480,75.454120,8.230815,30.788982,23.653376,10.439773,22.561422,21.385702
890,Colombia,COL,2020,81.478150,144.246350,108.165440,12.365588,20.698730,19.991020,28.448725,12.799349,27.367596
950,Costa Rica,CRI,2020,86.603330,85.397800,42.625450,7.653116,23.162094,21.369572,16.281550,22.266933,17.559883
986,Croatia,HRV,2020,142.098710,193.495800,46.280514,2.060037,21.987015,21.694845,10.400362,28.867940,15.448119
1039,Cuba,CUB,2020,126.905120,192.659700,29.388430,7.722304,25.110928,26.387608,13.315926,33.237090,17.325403
1058,Cyprus,CYP,2020,95.117600,96.896480,11.379078,9.660168,11.893426,16.077080,4.762670,27.029469,25.397976
1094,Czechia,CZE,2020,123.052710,190.070570,56.728943,8.213425,25.226156,18.988428,9.449261,26.320100,16.456278
1164,Denmark,DNK,2020,118.056694,74.201675,16.291616,9.115743,17.583023,10.354355,8.474087,43.043415,26.878696
1272,Ecuador,ECU,2020,69.947740,167.467650,185.938860,15.045910,27.830563,29.661139,12.148016,13.498910,26.010715
1376,Estonia,EST,2020,124.526280,200.679570,13.553373,6.607813,32.844574,22.262379,15.799877,28.944000,7.287616
1457,Finland,FIN,2020,94.683266,111.134550,4.231412,1.607298,22.619228,15.834218,13.089218,77.540690,10.456961
1588,Georgia,GEO,2020,127.648840,321.167180,82.146240,15.052551,23.614779,37.225170,6.345305,11.288526,19.411484
1619,Germany,DEU,2020,109.288086,118.525730,20.128143,6.167318,20.263988,13.243337,7.953695,35.396816,18.040186
1679,Greece,GRC,2020,112.145935,122.889305,30.809120,10.061140,10.936827,17.418474,3.978148,22.224960,15.519500
1710,Grenada,GRD,2020,138.032610,277.600620,25.049140,13.789422,25.907740,37.526752,9.200261,13.986456,23.192118
1782,Guatemala,GTM,2020,71.794014,137.889950,101.837800,25.114862,56.466880,36.753826,16.496157,23.699306,17.888128
2015,Iceland,ISL,2020,96.797745,89.511390,11.738274,2.766745,10.641212,12.639891,12.476758,51.185160,16.109993
2135,Israel,ISR,2020,90.193060,65.727570,31.141476,15.016559,10.335369,9.663947,6.144735,24.969244,18.130642
2305,Japan,JPN,2020,90.001820,65.088960,12.896940,4.454700,12.436715,10.448030,13.907976,13.181560,14.922235
2353,Kazakhstan,KAZ,2020,77.637860,196.172590,75.829940,15.367572,68.445465,29.149076,15.283014,161.433600,68.806190
2473,Latvia,LVA,2020,142.298030,296.280120,23.891810,9.067013,27.603455,28.494394,15.427140,29.038052,7.756293
2480,Lebanon,LBN,2020,49.741380,54.479336,33.854670,17.440868,9.107966,15.072459,0.907287,5.639536,16.038387
2515,Lithuania,LTU,2020,135.198680,294.289460,42.826286,13.145796,42.401190,29.988500,18.563470,24.091026,8.940131
2570,Luxembourg,LUX,2020,85.099920,77.352330,40.007540,5.711564,18.524730,13.887668,7.946320,35.060840,16.855816
2576,Malaysia,MYS,2020,53.732143,119.345240,45.933710,25.861017,12.891401,13.317216,0.204886,3.654637,21.535225
2745,Mauritius,MUS,2020,80.112000,190.099560,13.312535,21.237930,28.568940,22.470072,12.828618,16.343441,57.762756
2816,Mexico,MEX,2020,71.432076,198.480560,208.589510,14.641942,55.635605,23.717703,31.411165,13.780910,28.595665
2860,Mongolia,MNG,2020,191.291900,256.007020,12.156018,11.446534,44.963753,42.351395,21.141457,31.013346,14.293306
2942,Netherlands,NLD,2020,113.451430,72.338670,46.297745,6.511252,11.484628,15.061893,9.148812,41.487340,15.787381
3025,Nicaragua,NIC,2020,64.235420,220.035660,68.029890,11.343218,39.033554,24.998465,11.024076,10.726879,31.408123
3055,North Macedonia,MKD,2020,114.616580,266.392760,97.287410,3.578022,11.498949,10.999399,4.686742,32.214280,30.322588
3128,Oman,OMN,2020,23.559307,66.209940,92.649895,40.338660,7.872577,3.652969,0.206287,2.749396,13.441159
3210,Paraguay,PRY,2020,80.783350,155.465090,70.328545,16.940540,24.604862,34.028713,14.217060,13.050921,23.187410
3236,Peru,PER,2020,78.689630,93.447650,300.373230,19.987007,25.483286,23.845436,3.972595,8.506155,28.671770
3326,Poland,POL,2020,132.039700,191.264980,73.291985,2.791116,28.547098,21.996403,10.538559,19.600182,10.484767
3449,Qatar,QAT,2020,42.914085,93.671350,50.581104,11.424686,11.451914,10.106779,2.684864,1.966021,24.062826
3621,Saint Lucia,LCA,2020,107.040436,152.786470,18.687042,14.587169,17.448738,29.750565,24.468390,19.489351,27.788172
3662,Saint Vincent and the Grenadines,VCT,2020,167.424650,283.987730,23.271297,50.933100,31.709880,35.848255,26.116602,5.776249,25.452858
3689,Serbia,SRB,2020,143.058200,288.327400,87.523660,6.428690,19.521217,12.512063,9.372602,27.136454,22.136070
3713,Seychelles,SYC,2020,101.869660,221.551900,NaN,26.750590,30.995234,26.859413,4.816533,17.919542,19.773787
3770,Singapore,SGP,2020,85.555410,93.464386,51.357407,2.962280,7.675447,4.495458,7.224861,2.719651,6.073243
3832,Slovenia,SVN,2020,128.773560,118.270760,56.953510,2.748394,18.355087,24.120980,12.248922,28.387241,8.055025
3891,South Korea,KOR,2020,83.280174,55.994810,20.807873,9.014768,13.445736,12.475931,20.333502,16.788328,12.389348
3962,Spain,ESP,2020,99.587430,78.810620,56.222687,4.890246,16.607160,10.898043,6.467081,30.964760,20.234970
4182,Switzerland,CHE,2020,85.159000,76.172780,38.738960,3.898455,11.490874,11.866739,9.028064,36.190500,10.600891
4409,United Arab Emirates,ARE,2020,38.871925,83.123920,44.870850,30.684566,8.534011,5.469306,1.735405,4.444324,17.705920
4477,United Kingdom,GBR,2020,114.849770,90.822190,60.014343,3.797776,23.411976,10.669585,7.882084,57.163666,25.443394
4548,United States,USA,2020,98.241200,132.978040,60.808807,11.868999,22.502413,25.517385,20.762417,78.311310,31.876842
4608,Uruguay,URY,2020,135.773090,106.467510,14.384625,14.690722,19.486488,23.395958,29.477783,29.011133,27.665596

In [45]:
df1_spain['Age-standardized deaths that are from cardiovascular diseases per 100,000 people, in both sexes aged all ages'] = df1_spain['Age-standardized deaths that are from cardiovascular diseases per 100,000 people, in both sexes aged all ages']*100000

df1_spain

C:\Users\Gonzalo\AppData\Local\Temp\ipykernel_16820\690406289.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_spain['Age-standardized deaths that are from cardiovascular diseases per 100,000 people, in both sexes aged all ages'] = df1_spain['Age-standardized deaths that are from cardiovascular diseases per 100,000 people, in both sexes aged all ages']*100000

,Entity,Code,Year,"Age-standardized deaths that are from malignant neoplasms per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from cardiovascular diseases per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from respiratory infections per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from infectious and parasitic diseases per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from digestive diseases per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from unintentional injuries per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from intentional injuries per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from neuropsychiatric conditions per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from respiratory diseases per 100,000 people, in both sexes aged all ages"
3897,Spain,ESP,1951,86.345550,39521234.0,152.824170,161.442580,58.569190,28.450098,6.521125,31.988500,73.186130
3898,Spain,ESP,1952,89.426834,32256967.0,87.395256,116.102850,52.929850,26.892700,6.523855,20.621130,54.122017
3899,Spain,ESP,1953,90.726456,32792620.0,86.791530,99.396540,44.490685,25.571490,7.637822,21.594580,43.882454
3900,Spain,ESP,1954,94.426630,31501590.0,66.540306,88.377210,41.878155,27.211470,7.219578,20.222122,37.365930
3901,Spain,ESP,1955,101.842830,32155300.0,78.573850,87.328740,42.310960,29.743744,6.974757,19.864796,39.870090
...,...,...,...,...,...,...,...,...,...,...,...,...
3963,Spain,ESP,2019,101.356960,7761572.0,7.637719,5.071931,16.907635,11.360362,6.233921,30.557290,23.015043
3964,Spain,ESP,2018,103.761200,8198424.0,8.602348,5.478464,16.995636,11.796512,5.987355,30.938143,26.057512
3965,Spain,ESP,2017,105.912950,8426298.5,8.018686,5.870547,16.671267,11.813179,6.332706,30.914785,25.594797
3966,Spain,ESP,2016,107.547150,8494330.6,7.379743,6.240710,16.625530,11.691671,6.053377,30.619864,24.474302
3967,Spain,ESP,2015,108.096320,8944597.0,8.053640,6.927658,17.434383,11.261561,6.195061,31.844635,27.646788

In [46]:
df_spain_2019

,Country,Code,Year,Meningitis,Alzheimers Disease and Other Dementias,Parkinsons Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Total
5129,Spain,ESP,2019,155,29208,6137,467,0,425,335,15,679,728,378,131493,14184,483,429,3759,0,1213,59,125835,1,10135,14645,108,302,2570,36560,8218,23212,239,14,411986

In [47]:
df_spain

,Country,Code,Year,Meningitis,Alzheimers Disease and Other Dementias,Parkinsons Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Total
5100,Spain,ESP,1990,370,11872,2685,205,0,837,445,36,2119,585,1109,125150,9015,1450,339,3538,10,253,104,83062,51,9643,7675,208,117,9336,22694,11525,20287,338,17,325075
5101,Spain,ESP,1991,358,12735,2768,214,0,803,414,32,2765,718,1051,125014,8856,1346,338,3567,1,246,103,84960,90,9695,7800,204,119,9108,23295,11397,20350,323,16,328686
5102,Spain,ESP,1992,339,13557,2813,218,0,755,405,33,3593,800,977,122785,8665,1286,333,3508,0,243,100,85862,52,9545,7796,195,121,8528,23463,11084,20093,312,16,327477
5103,Spain,ESP,1993,325,14438,2902,225,0,713,408,27,4336,848,919,122779,8708,1164,333,3498,1,251,96,87222,12,9591,7860,187,123,7951,24062,10863,20045,299,16,330202
5104,Spain,ESP,1994,311,15274,2986,236,0,690,399,25,5045,895,872,122546,8732,1024,335,3514,16,263,98,88488,28,9620,7958,181,125,7525,24563,10652,20059,341,16,332817
5105,Spain,ESP,1995,304,16044,3098,253,0,667,397,23,5826,928,851,123657,8981,934,335,3558,14,279,172,90307,31,9720,8159,176,133,7279,25523,10522,20233,281,16,338701
5106,Spain,ESP,1996,311,16777,3220,262,0,654,385,20,5616,939,826,125280,9261,919,343,3615,175,291,95,91743,9,9810,8394,170,138,7114,26512,10437,20483,279,17,344095
5107,Spain,ESP,1997,300,17413,3309,275,0,638,401,20,3218,957,782,124917,9500,861,346,3651,47,305,88,91886,17,9773,8581,163,147,7072,27039,10129,20376,277,17,342505
5108,Spain,ESP,1998,269,18127,3481,290,0,629,407,19,2095,939,754,127850,10049,826,362,3680,0,338,80,93671,17,10021,8898,156,153,7092,28396,10074,20752,278,17,349720
5109,Spain,ESP,1999,274,18782,3639,310,0,619,427,20,2025,912,749,130496,10600,824,396,3714,7,375,69,95571,5,10140,9219,147,166,7055,29517,9992,21005,279,18,357352
5110,Spain,ESP,2000,270,19317,3697,312,0,612,471,19,1840,882,698,127295,10451,834,412,3722,10,414,66,95045,50,9936,9374,138,174,6866,28949,9663,20720,272,17,352526
5111,Spain,ESP,2001,262,20064,3838,314,0,604,492,22,1762,860,669,126577,10422,827,433,3725,6,452,67,95712,53,10001,9611,134,178,6645,28926,9572,20877,272,18,353395
5112,Spain,ESP,2002,264,20801,4053,324,0,592,506,20,1749,840,654,127784,10847,873,440,3786,33,506,68,97068,15,10206,9967,127,186,6436,29823,9578,21315,272,18,359151
5113,Spain,ESP,2003,265,21542,4291,333,0,605,529,25,1732,824,636,129813,11219,904,453,3857,7,564,239,99149,20,10497,10384,128,192,6232,30647,9680,21892,316,18,366993
5114,Spain,ESP,2004,261,22041,4422,330,0,591,593,25,1656,807,606,127483,11181,910,461,3832,9,597,156,100015,384,10433,10518,125,189,5762,30444,9515,21841,312,17,365516
5115,Spain,ESP,2005,257,22619,4596,336,0,574,477,25,1534,798,592,126779,11516,908,456,3834,26,636,109,101587,18,10482,10829,127,188,5379,30879,9453,21954,312,17,367297
5116,Spain,ESP,2006,249,23256,4691,332,0,563,466,21,1409,776,561,123921,11289,893,454,3803,7,670,128,102950,2,10284,11000,120,192,4916,30258,9223,21750,273,17,364474
5117,Spain,ESP,2007,248,24082,4883,338,0,554,436,21,1394,771,542,123230,11473,921,443,3849,13,723,72,105944,2,10305,11380,117,195,4528,30740,9149,21846,260,16,368475
5118,Spain,ESP,2008,240,24929,5044,346,0,539,450,25,1292,770,512,122024,11582,912,433,3872,15,771,70,108593,6,10236,11676,116,198,4054,30863,8970,21799,256,16,370609
5119,Spain,ESP,2009,228,25615,5134,357,0,519,423,22,1143,739,484,119442,11408,864,430,3829,7,815,67,110520,6,9972,11888,112,202,3604,30756,8713,21501,245,15,369060
5120,Spain,ESP,2010,215,26240,5205,364,0,492,395,23,1078,717,458,117230,11205,832,427,3778,11,883,64,112037,1,9674,12081,110,209,3235,30650,8443,21188,239,15,367499
5121,Spain,ESP,2011,211,26919,5377,374,0,483,396,19,985,709,437,117880,11487,797,424,3802,16,945,60,114873,1,9601,12461,112,214,2979,31269,8313,21328,236,14,372722
5122,Spain,ESP,2012,202,27264,5533,387,0,469,363,15,883,706,426,118870,11898,737,420,3858,13,1016,59,117023,0,9490,12857,112,225,2762,32142,8181,21451,260,14,377636
5123,Spain,ESP,2013,191,27315,5559,388,0,448,350,19,776,691,402,117509,11911,662,412,3848,11,1053,56,117532,0,9188,12932,111,233,2546,32019,7974,21266,229,14,375645
5124,Spain,ESP,2014,187,27539,5673,406,0,444,348,15,703,687,391,118923,12347,666,409,3846,3,1103,55,118929,0,9188,13216,110,252,2479,32866,7921,21502,232,14,380454
5125,Spain,ESP,2015,188,27989,5874,434,0,442,324,17,668,693,387,122974,13125,615,409,3857,6,1183,59,121607,0,9401,13757,109,273,2459,34511,8063,22158,239,14,391835
5126,Spain,ESP,2016,164,28495,5902,437,0,434,324,18,724,696,376,123016,13192,597,409,3784,8,1205,58,122150,0,9335,13737,109,286,2435,34626,7949,22157,238,13,392874
5127,Spain,ESP,2017,159,29051,5941,446,0,429,328,15,713,689,374,125373,13463,556,419,3746,0,1191,58,123098,16,9546,13923,108,288,2465,35204,8050,22416,240,14,398319
5128,Spain,ESP,2018,157,29347,6048,457,0,429,334,15,698,714,377,128774,13844,518,423,3764,15,1206,68,124266,0,9864,14308,108,295,2535,35894,8129,22839,238,14,405678
5129,Spain,ESP,2019,155,29208,6137,467,0,425,335,15,679,728,378,131493,14184,483,429,3759,0,1213,59,125835,1,10135,14645,108,302,2570,36560,8218,23212,239,14,411986

In [48]:
df

,Country,Code,Year,Meningitis,Alzheimers Disease and Other Dementias,Parkinsons Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Total
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,2655,34,93,4661,44899,23741,15612,72,696,0,4235,175,11580,1490,2108,3709,338,2054,4154,5945,2673,5005,323,2985,147971
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092,156844
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,3315,48,118,4976,46557,27404,20060,80,855,614,6123,38,12218,4344,2153,3776,386,2404,5106,6223,2830,5335,360,3325,169156
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,3671,56,132,5254,47951,31116,22335,85,943,225,8174,41,12634,4096,2195,3862,425,2797,5681,6445,2943,5568,396,3601,182230
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,3863,63,142,5470,49308,33390,23288,88,993,160,8215,44,12914,8959,2231,3932,451,3038,6001,6664,3027,5739,420,3816,194795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6115,Zimbabwe,ZWE,2015,1439,754,215,3019,2518,770,1302,1355,29162,104,11214,16649,12974,9278,48,2235,16,5102,37,11161,13,3176,2108,381,2990,2373,2751,1956,4202,632,146,130080
6116,Zimbabwe,ZWE,2016,1457,767,219,3056,2050,801,1342,1338,27141,110,10998,16937,13024,9065,49,2296,31,5002,37,11465,6,3259,2160,393,3027,2436,2788,1962,4264,648,146,128274
6117,Zimbabwe,ZWE,2017,1460,781,223,2990,2116,818,1363,1312,24846,115,10762,17187,12961,8901,50,2338,251,4948,37,11744,5,3313,2196,398,2962,2473,2818,2007,4342,654,144,126515
6118,Zimbabwe,ZWE,2018,1450,795,227,2918,2088,825,1396,1294,22106,121,10545,17460,12860,8697,51,2372,0,4745,37,12038,9,3381,2240,400,2890,2509,2849,2030,4377,657,139,123506
6119,Zimbabwe,ZWE,2019,1450,812,232,2884,2068,827,1434,1294,20722,127,10465,17810,12897,8609,53,2403,660,4635,37,12353,11,3460,2292,405,2855,2554,2891,2065,4437,662,136,123540

In [49]:
df_gdp = pd.read_csv(('./Probabilidad de morir por pais/world_country_gdp_usd (1).csv'))

df_gdp

,Country Name,Country Code,year,GDP_USD,GDP_per_capita_USD
0,Aruba,ABW,1960,NaN,NaN
1,Africa Eastern and Southern,AFE,1960,2.129059e+10,162.726326
2,Afghanistan,AFG,1960,5.377778e+08,59.773234
3,Africa Western and Central,AFW,1960,1.040414e+10,107.930722
4,Angola,AGO,1960,NaN,NaN
...,...,...,...,...,...
16487,Kosovo,XKX,2021,9.007159e+09,4986.582469
16488,"Yemen, Rep.",YEM,2021,2.106169e+10,690.759273
16489,South Africa,ZAF,2021,4.199460e+11,6994.211654
16490,Zambia,ZMB,2021,2.120306e+10,1120.630171
16491,Zimbabwe,ZWE,2021,2.621773e+10,1737.173977

In [50]:
df_gdp = df_gdp[(df_gdp['year'] >= 1990) & (df_gdp['year'] <= 2019)]

df_gdp

,Country Name,Country Code,year,GDP_USD,GDP_per_capita_USD
7980,Aruba,ABW,1990,7.648045e+08,12305.387910
7981,Africa Eastern and Southern,AFE,1990,2.532240e+11,831.202019
7982,Afghanistan,AFG,1990,NaN,NaN
7983,Africa Western and Central,AFW,1990,1.218020e+11,594.725717
7984,Angola,AGO,1990,1.122876e+10,947.704262
...,...,...,...,...,...
15955,Kosovo,XKX,2019,7.899879e+09,4416.108358
15956,"Yemen, Rep.",YEM,2019,2.188761e+10,750.554583
15957,South Africa,ZAF,2019,3.879350e+11,6624.761865
15958,Zambia,ZMB,2019,2.330867e+10,1305.001031
15959,Zimbabwe,ZWE,2019,1.928429e+10,1316.740657

In [51]:
df_gdp = df_gdp.rename(columns={"Country Name": 'Country','year':'Year'})

df_gdp

,Country,Country Code,Year,GDP_USD,GDP_per_capita_USD
7980,Aruba,ABW,1990,7.648045e+08,12305.387910
7981,Africa Eastern and Southern,AFE,1990,2.532240e+11,831.202019
7982,Afghanistan,AFG,1990,NaN,NaN
7983,Africa Western and Central,AFW,1990,1.218020e+11,594.725717
7984,Angola,AGO,1990,1.122876e+10,947.704262
...,...,...,...,...,...
15955,Kosovo,XKX,2019,7.899879e+09,4416.108358
15956,"Yemen, Rep.",YEM,2019,2.188761e+10,750.554583
15957,South Africa,ZAF,2019,3.879350e+11,6624.761865
15958,Zambia,ZMB,2019,2.330867e+10,1305.001031
15959,Zimbabwe,ZWE,2019,1.928429e+10,1316.740657

In [52]:
df_death_gdp = pd.merge(df, df_gdp, on=['Country', 'Year'], how='inner')

df_death_gdp

,Country,Code,Year,Meningitis,Alzheimers Disease and Other Dementias,Parkinsons Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Total,Country Code,GDP_USD,GDP_per_capita_USD
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,2655,34,93,4661,44899,23741,15612,72,696,0,4235,175,11580,1490,2108,3709,338,2054,4154,5945,2673,5005,323,2985,147971,AFG,NaN,NaN
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092,156844,AFG,NaN,NaN
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,3315,48,118,4976,46557,27404,20060,80,855,614,6123,38,12218,4344,2153,3776,386,2404,5106,6223,2830,5335,360,3325,169156,AFG,NaN,NaN
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,3671,56,132,5254,47951,31116,22335,85,943,225,8174,41,12634,4096,2195,3862,425,2797,5681,6445,2943,5568,396,3601,182230,AFG,NaN,NaN
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,3863,63,142,5470,49308,33390,23288,88,993,160,8215,44,12914,8959,2231,3932,451,3038,6001,6664,3027,5739,420,3816,194795,AFG,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5215,Zimbabwe,ZWE,2015,1439,754,215,3019,2518,770,1302,1355,29162,104,11214,16649,12974,9278,48,2235,16,5102,37,11161,13,3176,2108,381,2990,2373,2751,1956,4202,632,146,130080,ZWE,1.996312e+10,1445.069702
5216,Zimbabwe,ZWE,2016,1457,767,219,3056,2050,801,1342,1338,27141,110,10998,16937,13024,9065,49,2296,31,5002,37,11465,6,3259,2160,393,3027,2436,2788,1962,4264,648,146,128274,ZWE,2.054868e+10,1464.588957
5217,Zimbabwe,ZWE,2017,1460,781,223,2990,2116,818,1363,1312,24846,115,10762,17187,12961,8901,50,2338,251,4948,37,11744,5,3313,2196,398,2962,2473,2818,2007,4342,654,144,126515,ZWE,1.758489e+10,1235.189032
5218,Zimbabwe,ZWE,2018,1450,795,227,2918,2088,825,1396,1294,22106,121,10545,17460,12860,8697,51,2372,0,4745,37,12038,9,3381,2240,400,2890,2509,2849,2030,4377,657,139,123506,ZWE,1.811554e+10,1254.642265
5219,Zimbabwe,ZWE,2019,1450,812,232,2884,2068,827,1434,1294,20722,127,10465,17810,12897,8609,53,2403,660,4635,37,12353,11,3460,2292,405,2855,2554,2891,2065,4437,662,136,123540,ZWE,1.928429e+10,1316.740657

In [53]:
df_unem = pd.read_csv(('./Probabilidad de morir por pais/SI_unemployment analysis.csv'))

df_unem

,Country Name,Country Code,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Africa Eastern and Southern,AFE,7.80,7.84,7.85,7.84,7.83,7.84,7.86,7.81,7.79,7.72,7.73,7.96,7.79,7.31,7.12,6.99,6.74,6.27,6.32,6.87,6.75,6.56,6.45,6.41,6.49,6.61,6.71,6.73,6.91,7.56,8.11
1,Afghanistan,AFG,10.65,10.82,10.72,10.73,11.18,10.96,10.78,10.80,10.81,10.81,10.81,11.26,11.14,10.99,11.22,11.10,11.30,11.09,11.31,11.35,11.05,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28
2,Africa Western and Central,AFW,4.42,4.53,4.55,4.54,4.53,4.57,4.60,4.66,4.86,4.92,4.87,4.78,4.75,4.73,4.73,4.65,4.63,4.60,4.58,4.55,4.55,4.64,4.41,4.69,4.63,5.57,6.02,6.04,6.06,6.77,6.84
3,Angola,AGO,4.21,4.21,4.23,4.16,4.11,4.10,4.09,4.07,4.05,4.03,4.00,3.96,3.96,3.92,3.88,3.86,3.82,3.79,3.78,9.43,7.36,7.35,7.37,7.37,7.39,7.41,7.41,7.42,7.42,8.33,8.53
4,Albania,ALB,10.31,30.01,25.26,20.84,14.61,13.93,16.88,20.05,20.84,19.03,18.58,17.90,16.99,16.31,15.97,15.63,15.97,13.06,13.67,14.09,13.48,13.38,15.87,18.05,17.19,15.42,13.62,12.30,11.47,13.33,11.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Samoa,WSM,2.10,2.38,2.63,3.04,3.19,3.47,3.90,4.18,4.48,4.66,4.96,5.10,5.16,5.22,5.29,5.42,5.36,5.58,5.83,5.73,5.68,8.75,8.67,8.72,8.50,8.31,8.58,8.69,8.41,9.15,9.84
231,"Yemen, Rep.",YEM,8.32,8.31,8.35,8.34,8.96,9.59,10.20,10.81,11.46,11.56,11.71,11.84,11.97,12.10,12.21,12.37,12.49,12.62,12.75,12.83,13.23,13.17,13.27,13.47,13.77,13.43,13.30,13.15,13.06,13.39,13.57
232,South Africa,ZAF,29.95,29.98,29.92,29.89,29.89,29.87,29.91,29.95,29.91,29.88,30.69,33.29,32.31,29.45,29.12,28.34,26.54,22.41,23.52,24.68,24.64,24.73,24.56,24.89,25.15,26.54,27.04,26.91,28.47,29.22,33.56
233,Zambia,ZMB,18.90,19.37,19.70,18.43,16.81,15.30,13.64,12.00,12.44,12.93,13.51,14.12,14.69,15.30,15.90,13.24,10.59,7.93,10.56,13.19,10.55,7.85,8.61,9.36,10.13,10.87,11.63,12.01,12.52,12.85,13.03
234,Zimbabwe,ZWE,4.94,4.99,4.97,4.96,5.63,6.25,6.93,6.46,6.00,5.69,5.36,5.06,4.75,4.39,4.54,4.68,4.83,5.01,5.08,5.21,5.37,5.15,4.98,4.77,4.78,4.79,4.78,4.80,4.83,5.35,5.17

In [54]:
df_unem = df_unem.drop(columns=['Country Code','2020','2021'])

In [55]:
df_melted = df_unem.melt(id_vars=['Country Name'], var_name='Year', value_name='Desempleo')

df_melted

                     Country Name  Year  Desempleo
0     Africa Eastern and Southern  1991       7.80
1                     Afghanistan  1991      10.65
2      Africa Western and Central  1991       4.42
3                          Angola  1991       4.21
4                         Albania  1991      10.31
...                           ...   ...        ...
6810                        Samoa  2019       8.41
6811                  Yemen, Rep.  2019      13.06
6812                 South Africa  2019      28.47
6813                       Zambia  2019      12.52
6814                     Zimbabwe  2019       4.83

[6815 rows x 3 columns]

In [56]:
df_melted = df_melted.rename(columns={"Country Name": 'Country'})

df_melted

                          Country  Year  Desempleo
0     Africa Eastern and Southern  1991       7.80
1                     Afghanistan  1991      10.65
2      Africa Western and Central  1991       4.42
3                          Angola  1991       4.21
4                         Albania  1991      10.31
...                           ...   ...        ...
6810                        Samoa  2019       8.41
6811                  Yemen, Rep.  2019      13.06
6812                 South Africa  2019      28.47
6813                       Zambia  2019      12.52
6814                     Zimbabwe  2019       4.83

[6815 rows x 3 columns]

In [57]:
df_melted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6815 entries, 0 to 6814
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    6815 non-null   object
 1   Year       6815 non-null   object
 2   Desempleo  6815 non-null   float64
dtypes: float64(1), object(2)
memory usage: 159.9+ KB

In [58]:
df_melted['Year'] = df_melted['Year'].astype(int)

In [59]:
df_dea_gdp_unm = pd.merge(df_melted, df_death_gdp, on=['Country', 'Year'], how='inner')

df_dea_gdp_unm

,Country,Year,Desempleo,Code,Meningitis,Alzheimers Disease and Other Dementias,Parkinsons Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Total,Country Code,GDP_USD,GDP_per_capita_USD
0,Afghanistan,1991,10.65,AFG,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092,156844,AFG,NaN,NaN
1,Angola,1991,4.21,AGO,3630,303,88,12199,5844,1117,465,1680,361,20,15100,12174,19916,14596,101,991,0,36176,103,5010,595,1553,1084,397,11912,5216,2847,2844,4580,439,634,161975,AGO,1.060378e+10,865.692730
2,Albania,1991,10.31,ALB,112,363,96,42,0,160,207,24,1,7,45,6903,2196,863,11,136,0,76,5,2698,0,107,246,16,40,421,1009,330,662,34,3,16813,ALB,1.099559e+09,336.586995
3,United Arab Emirates,1991,1.87,ARE,28,25,16,6,0,63,31,11,4,39,49,1659,182,299,11,121,0,24,3,697,0,204,221,9,4,824,330,77,122,48,15,5122,ARE,5.155217e+10,26612.253110
4,Argentina,1991,5.44,ARG,757,5161,1526,1323,9,1120,2007,433,670,24,1587,97610,9048,9257,992,2875,0,1006,32,57122,114,7345,7261,305,1275,4502,10211,5895,12062,645,108,242282,ARG,1.897200e+11,5735.359981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4577,Vanuatu,2019,1.80,VUT,6,19,13,12,1,32,3,8,19,1,41,869,113,69,4,51,0,68,1,225,0,127,70,2,12,67,172,49,92,4,3,2153,VUT,9.365263e+08,3122.982599
4578,Samoa,2019,8.41,WSM,2,28,10,4,0,13,12,1,13,1,13,539,63,17,2,25,0,11,1,155,0,124,61,1,4,33,105,30,55,2,1,1326,WSM,8.520071e+08,4322.868416
4579,South Africa,2019,28.47,ZAF,2221,6603,1300,2101,464,1511,19122,1379,143851,115,19785,82661,28941,17138,582,7864,68,13500,421,54803,38,27471,12353,511,2037,19239,17827,5824,13356,2179,124,505389,ZAF,3.879350e+11,6624.761865
4580,Zambia,2019,12.52,ZMB,2065,763,203,1899,4777,359,1616,804,22540,60,7056,18157,8190,9851,137,1398,4,7224,84,9789,1,2573,1931,309,1828,2285,2388,4593,6528,326,263,120001,ZMB,2.330867e+10,1305.001031
4581,Zimbabwe,2019,4.83,ZWE,1450,812,232,2884,2068,827,1434,1294,20722,127,10465,17810,12897,8609,53,2403,660,4635,37,12353,11,3460,2292,405,2855,2554,2891,2065,4437,662,136,123540,ZWE,1.928429e+10,1316.740657

In [60]:
df_dem = pd.read_csv(('./Probabilidad de morir por pais/SI_electoral-democracy-index.csv'))

df_dem

,Entity,Code,Year,electdem_vdem_owid,electdem_vdem_high_owid,electdem_vdem_low_owid
0,Afghanistan,AFG,1789,0.019,0.024,0.010
1,Afghanistan,AFG,1790,0.019,0.024,0.010
2,Afghanistan,AFG,1791,0.019,0.024,0.010
3,Afghanistan,AFG,1792,0.019,0.024,0.010
4,Afghanistan,AFG,1793,0.019,0.024,0.010
...,...,...,...,...,...,...
32513,Zimbabwe,ZWE,2018,0.305,0.333,0.271
32514,Zimbabwe,ZWE,2019,0.293,0.319,0.262
32515,Zimbabwe,ZWE,2020,0.293,0.325,0.263
32516,Zimbabwe,ZWE,2021,0.291,0.320,0.261
32517,Zimbabwe,ZWE,2022,0.285,0.310,0.249

In [61]:
df_dem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32518 entries, 0 to 32517
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Entity                   32518 non-null  object
 1   Code                     30625 non-null  object
 2   Year                     32518 non-null  int64
 3   electdem_vdem_owid       32518 non-null  float64
 4   electdem_vdem_high_owid  32518 non-null  float64
 5   electdem_vdem_low_owid   32518 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 1.5+ MB

In [62]:
df_dem = df_dem.rename(columns={"Entity": 'Country'})

df_dem

,Country,Code,Year,electdem_vdem_owid,electdem_vdem_high_owid,electdem_vdem_low_owid
0,Afghanistan,AFG,1789,0.019,0.024,0.010
1,Afghanistan,AFG,1790,0.019,0.024,0.010
2,Afghanistan,AFG,1791,0.019,0.024,0.010
3,Afghanistan,AFG,1792,0.019,0.024,0.010
4,Afghanistan,AFG,1793,0.019,0.024,0.010
...,...,...,...,...,...,...
32513,Zimbabwe,ZWE,2018,0.305,0.333,0.271
32514,Zimbabwe,ZWE,2019,0.293,0.319,0.262
32515,Zimbabwe,ZWE,2020,0.293,0.325,0.263
32516,Zimbabwe,ZWE,2021,0.291,0.320,0.261
32517,Zimbabwe,ZWE,2022,0.285,0.310,0.249

In [63]:
df_dea_gdp_unm_dem = pd.merge(df_dea_gdp_unm, df_dem, on=['Country', 'Year'], how='inner')

df_dea_gdp_unm_dem

,Country,Year,Desempleo,Code_x,Meningitis,Alzheimers Disease and Other Dementias,Parkinsons Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Total,Country Code,GDP_USD,GDP_per_capita_USD,Code_y,electdem_vdem_owid,electdem_vdem_high_owid,electdem_vdem_low_owid
0,Afghanistan,1991,10.65,AFG,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092,156844,AFG,NaN,NaN,AFG,0.094,0.103,0.084
1,Angola,1991,4.21,AGO,3630,303,88,12199,5844,1117,465,1680,361,20,15100,12174,19916,14596,101,991,0,36176,103,5010,595,1553,1084,397,11912,5216,2847,2844,4580,439,634,161975,AGO,1.060378e+10,865.692730,AGO,0.083,0.091,0.075
2,Albania,1991,10.31,ALB,112,363,96,42,0,160,207,24,1,7,45,6903,2196,863,11,136,0,76,5,2698,0,107,246,16,40,421,1009,330,662,34,3,16813,ALB,1.099559e+09,336.586995,ALB,0.369,0.411,0.321
3,United Arab Emirates,1991,1.87,ARE,28,25,16,6,0,63,31,11,4,39,49,1659,182,299,11,121,0,24,3,697,0,204,221,9,4,824,330,77,122,48,15,5122,ARE,5.155217e+10,26612.253110,ARE,0.022,0.030,0.013
4,Argentina,1991,5.44,ARG,757,5161,1526,1323,9,1120,2007,433,670,24,1587,97610,9048,9257,992,2875,0,1006,32,57122,114,7345,7261,305,1275,4502,10211,5895,12062,645,108,242282,ARG,1.897200e+11,5735.359981,ARG,0.831,0.890,0.788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4425,Vietnam,2019,2.04,VNM,747,19460,4259,954,59,6098,1267,234,6399,1176,18681,240161,21345,6468,1000,8114,5,1672,82,112564,0,29391,21485,935,95,24153,36229,23637,31306,608,674,619258,VNM,3.303910e+11,3425.089253,VNM,0.149,0.165,0.129
4426,Vanuatu,2019,1.80,VUT,6,19,13,12,1,32,3,8,19,1,41,869,113,69,4,51,0,68,1,225,0,127,70,2,12,67,172,49,92,4,3,2153,VUT,9.365263e+08,3122.982599,VUT,0.758,0.828,0.699
4427,South Africa,2019,28.47,ZAF,2221,6603,1300,2101,464,1511,19122,1379,143851,115,19785,82661,28941,17138,582,7864,68,13500,421,54803,38,27471,12353,511,2037,19239,17827,5824,13356,2179,124,505389,ZAF,3.879350e+11,6624.761865,ZAF,0.708,0.778,0.652
4428,Zambia,2019,12.52,ZMB,2065,763,203,1899,4777,359,1616,804,22540,60,7056,18157,8190,9851,137,1398,4,7224,84,9789,1,2573,1931,309,1828,2285,2388,4593,6528,326,263,120001,ZMB,2.330867e+10,1305.001031,ZMB,0.338,0.371,0.292
4429,Zimbabwe,2019,4.83,ZWE,1450,812,232,2884,2068,827,1434,1294,20722,127,10465,17810,12897,8609,53,2403,660,4635,37,12353,11,3460,2292,405,2855,2554,2891,2065,4437,662,136,123540,ZWE,1.928429e+10,1316.740657,ZWE,0.293,0.319,0.262

In [64]:
df_co2 = pd.read_csv('./Probabilidad de morir por pais/GCB2022v27_percapita_flat.csv')

df_co2

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other
0,Afghanistan,AFG,1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,4.749682,1.908857,1.610910,0.940144,0.198416,0.051579,0.039776
63100,Global,WLD,2018,4.792753,1.919213,1.596350,0.979965,0.204225,0.053634,0.039366
63101,Global,WLD,2019,4.775633,1.896468,1.589920,0.984878,0.208309,0.056569,0.039490
63102,Global,WLD,2020,4.497423,1.807760,1.427353,0.963695,0.208844,0.051981,0.037789
63103,Global,WLD,2021,4.693699,1.893923,1.496614,1.001585,0.211472,0.052663,0.037443

In [65]:
df_co2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63104 entries, 0 to 63103
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             63104 non-null  object
 1   ISO 3166-1 alpha-3  61472 non-null  object
 2   Year                63104 non-null  int64
 3   Total               18972 non-null  float64
 4   Coal                17138 non-null  float64
 5   Oil                 17039 non-null  float64
 6   Gas                 17012 non-null  float64
 7   Cement              15448 non-null  float64
 8   Flaring             16944 non-null  float64
 9   Other               1620 non-null   float64
dtypes: float64(7), int64(1), object(2)
memory usage: 4.8+ MB

In [66]:
df_co2 = df_co2.drop(columns=['ISO 3166-1 alpha-3','Other','Flaring','Gas','Oil','Coal','Cement'])

df_co2

           Country  Year     Total
0      Afghanistan  1750       NaN
1      Afghanistan  1751       NaN
2      Afghanistan  1752       NaN
3      Afghanistan  1753       NaN
4      Afghanistan  1754       NaN
...            ...   ...       ...
63099       Global  2017  4.749682
63100       Global  2018  4.792753
63101       Global  2019  4.775633
63102       Global  2020  4.497423
63103       Global  2021  4.693699

[63104 rows x 3 columns]

In [67]:
df_dea_gdp_unm_dem_co2 = pd.merge(df_dea_gdp_unm_dem, df_co2, on=['Country', 'Year'], how='inner')

df_dea_gdp_unm_dem_co2

,Country,Year,Desempleo,Code_x,Meningitis,Alzheimers Disease and Other Dementias,Parkinsons Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Total_x,Country Code,GDP_USD,GDP_per_capita_USD,Code_y,electdem_vdem_owid,electdem_vdem_high_owid,electdem_vdem_low_owid,Total_y
0,Afghanistan,1991,10.65,AFG,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092,156844,AFG,NaN,NaN,AFG,0.094,0.103,0.084,0.178155
1,Angola,1991,4.21,AGO,3630,303,88,12199,5844,1117,465,1680,361,20,15100,12174,19916,14596,101,991,0,36176,103,5010,595,1553,1084,397,11912,5216,2847,2844,4580,439,634,161975,AGO,1.060378e+10,865.692730,AGO,0.083,0.091,0.075,0.414113
2,Albania,1991,10.31,ALB,112,363,96,42,0,160,207,24,1,7,45,6903,2196,863,11,136,0,76,5,2698,0,107,246,16,40,421,1009,330,662,34,3,16813,ALB,1.099559e+09,336.586995,ALB,0.369,0.411,0.321,1.299249
3,United Arab Emirates,1991,1.87,ARE,28,25,16,6,0,63,31,11,4,39,49,1659,182,299,11,121,0,24,3,697,0,204,221,9,4,824,330,77,122,48,15,5122,ARE,5.155217e+10,26612.253110,ARE,0.022,0.030,0.013,28.218434
4,Argentina,1991,5.44,ARG,757,5161,1526,1323,9,1120,2007,433,670,24,1587,97610,9048,9257,992,2875,0,1006,32,57122,114,7345,7261,305,1275,4502,10211,5895,12062,645,108,242282,ARG,1.897200e+11,5735.359981,ARG,0.831,0.890,0.788,3.549404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4309,Uzbekistan,2019,5.85,UZB,175,1119,544,41,0,1597,974,228,585,188,2445,107394,10787,5257,156,3793,0,161,178,22338,0,8154,3971,368,9,4929,3837,13042,15019,684,130,208103,UZB,5.990767e+10,1784.009816,UZB,0.204,0.224,0.185,3.602454
4310,Vanuatu,2019,1.80,VUT,6,19,13,12,1,32,3,8,19,1,41,869,113,69,4,51,0,68,1,225,0,127,70,2,12,67,172,49,92,4,3,2153,VUT,9.365263e+08,3122.982599,VUT,0.758,0.828,0.699,0.529612
4311,South Africa,2019,28.47,ZAF,2221,6603,1300,2101,464,1511,19122,1379,143851,115,19785,82661,28941,17138,582,7864,68,13500,421,54803,38,27471,12353,511,2037,19239,17827,5824,13356,2179,124,505389,ZAF,3.879350e+11,6624.761865,ZAF,0.708,0.778,0.652,8.038352
4312,Zambia,2019,12.52,ZMB,2065,763,203,1899,4777,359,1616,804,22540,60,7056,18157,8190,9851,137,1398,4,7224,84,9789,1,2573,1931,309,1828,2285,2388,4593,6528,326,263,120001,ZMB,2.330867e+10,1305.001031,ZMB,0.338,0.371,0.292,0.421489
4313,Zimbabwe,2019,4.83,ZWE,1450,812,232,2884,2068,827,1434,1294,20722,127,10465,17810,12897,8609,53,2403,660,4635,37,12353,11,3460,2292,405,2855,2554,2891,2065,4437,662,136,123540,ZWE,1.928429e+10,1316.740657,ZWE,0.293,0.319,0.262,0.723861

In [68]:
df_alc = pd.read_csv('./Probabilidad de morir por pais/alcohol-consumption-vs-gdp-per-capita.csv')

df_alc

,Entity,Code,Year,"Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)","GDP per capita, PPP (constant 2017 international $)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,2010,0.21,1957.029070,29185511.0,NaN
2,Afghanistan,AFG,2015,0.21,2068.265904,34413603.0,Asia
3,Afghanistan,AFG,2018,0.21,2033.804389,37171922.0,NaN
4,Afghanistan,AFG,2002,NaN,1189.784668,22600774.0,NaN
...,...,...,...,...,...,...,...
57079,Zimbabwe,ZWE,1987,NaN,NaN,9527202.0,NaN
57080,Zimbabwe,ZWE,1988,NaN,NaN,9849129.0,NaN
57081,Zimbabwe,ZWE,1989,NaN,NaN,10153852.0,NaN
57082,Zimbabwe,ZWE,2021,NaN,NaN,15092171.0,NaN
57083,Åland Islands,ALA,2015,NaN,NaN,NaN,Europe

In [69]:
df_alc = df_alc.drop(columns=['Code','Continent','GDP per capita, PPP (constant 2017 international $)'])

df_alc

,Entity,Year,"Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)",Population (historical estimates)
0,Abkhazia,2015,NaN,NaN
1,Afghanistan,2010,0.21,29185511.0
2,Afghanistan,2015,0.21,34413603.0
3,Afghanistan,2018,0.21,37171922.0
4,Afghanistan,2002,NaN,22600774.0
...,...,...,...,...
57079,Zimbabwe,1987,NaN,9527202.0
57080,Zimbabwe,1988,NaN,9849129.0
57081,Zimbabwe,1989,NaN,10153852.0
57082,Zimbabwe,2021,NaN,15092171.0
57083,Åland Islands,2015,NaN,NaN

In [70]:
df_alc = df_alc.rename(columns={"Entity": 'Country','Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)':'Total alcohol per capita(L)','Population (historical estimates)':'Population'})

df_alc

             Country  Year  Total alcohol per capita(L)  Population
0           Abkhazia  2015                          NaN         NaN
1        Afghanistan  2010                         0.21  29185511.0
2        Afghanistan  2015                         0.21  34413603.0
3        Afghanistan  2018                         0.21  37171922.0
4        Afghanistan  2002                          NaN  22600774.0
...              ...   ...                          ...         ...
57079       Zimbabwe  1987                          NaN   9527202.0
57080       Zimbabwe  1988                          NaN   9849129.0
57081       Zimbabwe  1989                          NaN  10153852.0
57082       Zimbabwe  2021                          NaN  15092171.0
57083  Åland Islands  2015                          NaN         NaN

[57084 rows x 4 columns]

In [71]:
df_alc = df_alc[df_alc['Year'].isin(range(1991, 2020))]

df_alc

             Country  Year  Total alcohol per capita(L)  Population
0           Abkhazia  2015                          NaN         NaN
1        Afghanistan  2010                         0.21  29185511.0
2        Afghanistan  2015                         0.21  34413603.0
3        Afghanistan  2018                         0.21  37171922.0
4        Afghanistan  2002                          NaN  22600774.0
...              ...   ...                          ...         ...
56850       Zimbabwe  2014                          NaN  13586710.0
56851       Zimbabwe  2016                          NaN  14030338.0
56852       Zimbabwe  2017                          NaN  14236599.0
56853       Zimbabwe  2019                          NaN  14645473.0
57083  Åland Islands  2015                          NaN         NaN

[8395 rows x 4 columns]

In [72]:
df_completo = pd.merge(df_dea_gdp_unm_dem_co2, df_alc, on=['Country', 'Year'], how='inner')

df_completo

,Country,Year,Desempleo,Code_x,Meningitis,Alzheimers Disease and Other Dementias,Parkinsons Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Total_x,Country Code,GDP_USD,GDP_per_capita_USD,Code_y,electdem_vdem_owid,electdem_vdem_high_owid,electdem_vdem_low_owid,Total_y,Total alcohol per capita(L),Population
0,Afghanistan,1991,10.65,AFG,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092,156844,AFG,NaN,NaN,AFG,0.094,0.103,0.084,0.178155,NaN,13299016.0
1,Angola,1991,4.21,AGO,3630,303,88,12199,5844,1117,465,1680,361,20,15100,12174,19916,14596,101,991,0,36176,103,5010,595,1553,1084,397,11912,5216,2847,2844,4580,439,634,161975,AGO,1.060378e+10,865.692730,AGO,0.083,0.091,0.075,0.414113,NaN,12248901.0
2,Albania,1991,10.31,ALB,112,363,96,42,0,160,207,24,1,7,45,6903,2196,863,11,136,0,76,5,2698,0,107,246,16,40,421,1009,330,662,34,3,16813,ALB,1.099559e+09,336.586995,ALB,0.369,0.411,0.321,1.299249,NaN,3280397.0
3,United Arab Emirates,1991,1.87,ARE,28,25,16,6,0,63,31,11,4,39,49,1659,182,299,11,121,0,24,3,697,0,204,221,9,4,824,330,77,122,48,15,5122,ARE,5.155217e+10,26612.253110,ARE,0.022,0.030,0.013,28.218434,NaN,1937159.0
4,Argentina,1991,5.44,ARG,757,5161,1526,1323,9,1120,2007,433,670,24,1587,97610,9048,9257,992,2875,0,1006,32,57122,114,7345,7261,305,1275,4502,10211,5895,12062,645,108,242282,ARG,1.897200e+11,5735.359981,ARG,0.831,0.890,0.788,3.549404,NaN,33079002.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4309,Uzbekistan,2019,5.85,UZB,175,1119,544,41,0,1597,974,228,585,188,2445,107394,10787,5257,156,3793,0,161,178,22338,0,8154,3971,368,9,4929,3837,13042,15019,684,130,208103,UZB,5.990767e+10,1784.009816,UZB,0.204,0.224,0.185,3.602454,NaN,32981714.0
4310,Vanuatu,2019,1.80,VUT,6,19,13,12,1,32,3,8,19,1,41,869,113,69,4,51,0,68,1,225,0,127,70,2,12,67,172,49,92,4,3,2153,VUT,9.365263e+08,3122.982599,VUT,0.758,0.828,0.699,0.529612,NaN,299882.0
4311,South Africa,2019,28.47,ZAF,2221,6603,1300,2101,464,1511,19122,1379,143851,115,19785,82661,28941,17138,582,7864,68,13500,421,54803,38,27471,12353,511,2037,19239,17827,5824,13356,2179,124,505389,ZAF,3.879350e+11,6624.761865,ZAF,0.708,0.778,0.652,8.038352,NaN,58558267.0
4312,Zambia,2019,12.52,ZMB,2065,763,203,1899,4777,359,1616,804,22540,60,7056,18157,8190,9851,137,1398,4,7224,84,9789,1,2573,1931,309,1828,2285,2388,4593,6528,326,263,120001,ZMB,2.330867e+10,1305.001031,ZMB,0.338,0.371,0.292,0.421489,NaN,17861034.0
4313,Zimbabwe,2019,4.83,ZWE,1450,812,232,2884,2068,827,1434,1294,20722,127,10465,17810,12897,8609,53,2403,660,4635,37,12353,11,3460,2292,405,2855,2554,2891,2065,4437,662,136,123540,ZWE,1.928429e+10,1316.740657,ZWE,0.293,0.319,0.262,0.723861,NaN,14645473.0

In [73]:
df_completo.isna().sum()

Country                                          0
Year                                             0
Desempleo                                        0
Code_x                                           0
Meningitis                                       0
Alzheimers Disease and Other Dementias           0
Parkinsons Disease                               0
Nutritional Deficiencies                         0
Malaria                                          0
Drowning                                         0
Interpersonal Violence                           0
Maternal Disorders                               0
HIV/AIDS                                         0
Drug Use Disorders                               0
Tuberculosis                                     0
Cardiovascular Diseases                          0
Lower Respiratory Infections                     0
Neonatal Disorders                               0
Alcohol Use Disorders                            0
Self-harm                                        0
Exposure to Forces of Nature                     0
Diarrheal Diseases                               0
Environmental Heat and Cold Exposure             0
Neoplasms                                        0
Conflict and Terrorism                           0
Diabetes Mellitus                                0
Chronic Kidney Disease                           0
Poisonings                                       0
Protein-Energy Malnutrition                      0
Road Injuries                                    0
Chronic Respiratory Diseases                     0
Cirrhosis and Other Chronic Liver Diseases       0
Digestive Diseases                               0
Fire, Heat, and Hot Substances                   0
Acute Hepatitis                                  0
Total_x                                          0
Country Code                                     0
GDP_USD                                        121
GDP_per_capita_USD                             124
Code_y                                           0
electdem_vdem_owid                               0
electdem_vdem_high_owid                          0
electdem_vdem_low_owid                           0
Total_y                                          0
Total alcohol per capita(L)                   3585
Population                                       0
dtype: int64

In [74]:
df_completo['GDP_USD'] = df_completo['GDP_USD'].fillna(0)

In [75]:
df_completo['GDP_per_capita_USD'] = df_completo['GDP_per_capita_USD'].fillna(0)

In [76]:
df_completo.isna().sum()

Country                                          0
Year                                             0
Desempleo                                        0
Code_x                                           0
Meningitis                                       0
Alzheimers Disease and Other Dementias           0
Parkinsons Disease                               0
Nutritional Deficiencies                         0
Malaria                                          0
Drowning                                         0
Interpersonal Violence                           0
Maternal Disorders                               0
HIV/AIDS                                         0
Drug Use Disorders                               0
Tuberculosis                                     0
Cardiovascular Diseases                          0
Lower Respiratory Infections                     0
Neonatal Disorders                               0
Alcohol Use Disorders                            0
Self-harm                                        0
Exposure to Forces of Nature                     0
Diarrheal Diseases                               0
Environmental Heat and Cold Exposure             0
Neoplasms                                        0
Conflict and Terrorism                           0
Diabetes Mellitus                                0
Chronic Kidney Disease                           0
Poisonings                                       0
Protein-Energy Malnutrition                      0
Road Injuries                                    0
Chronic Respiratory Diseases                     0
Cirrhosis and Other Chronic Liver Diseases       0
Digestive Diseases                               0
Fire, Heat, and Hot Substances                   0
Acute Hepatitis                                  0
Total_x                                          0
Country Code                                     0
GDP_USD                                          0
GDP_per_capita_USD                               0
Code_y                                           0
electdem_vdem_owid                               0
electdem_vdem_high_owid                          0
electdem_vdem_low_owid                           0
Total_y                                          0
Total alcohol per capita(L)                   3585
Population                                       0
dtype: int64

In [77]:
df_completo = df_completo.drop(columns=['Code_x','Code_y','electdem_vdem_high_owid','electdem_vdem_low_owid','Country Code'])

df_completo

,Country,Year,Desempleo,Meningitis,Alzheimers Disease and Other Dementias,Parkinsons Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Total_x,GDP_USD,GDP_per_capita_USD,electdem_vdem_owid,Total_y,Total alcohol per capita(L),Population
0,Afghanistan,1991,10.65,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092,156844,0.000000e+00,0.000000,0.094,0.178155,NaN,13299016.0
1,Angola,1991,4.21,3630,303,88,12199,5844,1117,465,1680,361,20,15100,12174,19916,14596,101,991,0,36176,103,5010,595,1553,1084,397,11912,5216,2847,2844,4580,439,634,161975,1.060378e+10,865.692730,0.083,0.414113,NaN,12248901.0
2,Albania,1991,10.31,112,363,96,42,0,160,207,24,1,7,45,6903,2196,863,11,136,0,76,5,2698,0,107,246,16,40,421,1009,330,662,34,3,16813,1.099559e+09,336.586995,0.369,1.299249,NaN,3280397.0
3,United Arab Emirates,1991,1.87,28,25,16,6,0,63,31,11,4,39,49,1659,182,299,11,121,0,24,3,697,0,204,221,9,4,824,330,77,122,48,15,5122,5.155217e+10,26612.253110,0.022,28.218434,NaN,1937159.0
4,Argentina,1991,5.44,757,5161,1526,1323,9,1120,2007,433,670,24,1587,97610,9048,9257,992,2875,0,1006,32,57122,114,7345,7261,305,1275,4502,10211,5895,12062,645,108,242282,1.897200e+11,5735.359981,0.831,3.549404,NaN,33079002.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4309,Uzbekistan,2019,5.85,175,1119,544,41,0,1597,974,228,585,188,2445,107394,10787,5257,156,3793,0,161,178,22338,0,8154,3971,368,9,4929,3837,13042,15019,684,130,208103,5.990767e+10,1784.009816,0.204,3.602454,NaN,32981714.0
4310,Vanuatu,2019,1.80,6,19,13,12,1,32,3,8,19,1,41,869,113,69,4,51,0,68,1,225,0,127,70,2,12,67,172,49,92,4,3,2153,9.365263e+08,3122.982599,0.758,0.529612,NaN,299882.0
4311,South Africa,2019,28.47,2221,6603,1300,2101,464,1511,19122,1379,143851,115,19785,82661,28941,17138,582,7864,68,13500,421,54803,38,27471,12353,511,2037,19239,17827,5824,13356,2179,124,505389,3.879350e+11,6624.761865,0.708,8.038352,NaN,58558267.0
4312,Zambia,2019,12.52,2065,763,203,1899,4777,359,1616,804,22540,60,7056,18157,8190,9851,137,1398,4,7224,84,9789,1,2573,1931,309,1828,2285,2388,4593,6528,326,263,120001,2.330867e+10,1305.001031,0.338,0.421489,NaN,17861034.0
4313,Zimbabwe,2019,4.83,1450,812,232,2884,2068,827,1434,1294,20722,127,10465,17810,12897,8609,53,2403,660,4635,37,12353,11,3460,2292,405,2855,2554,2891,2065,4437,662,136,123540,1.928429e+10,1316.740657,0.293,0.723861,NaN,14645473.0

In [79]:
df_completo = df_completo.rename(columns={"Desempleo": 'Unemployment','Total_x':'Total','GDP_per_capita_USD':'GDP/cap','electdem_vdem_owid':'Elect(lib)','GDP_USD':'GDP','Total_y':'CO2/cap'})

df_completo

,Country,Year,Unemployment,Meningitis,Alzheimers Disease and Other Dementias,Parkinsons Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Total,GDP,GDP/cap,Elect(lib),CO2/cap,Total alcohol per capita(L),Population
0,Afghanistan,1991,10.65,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092,156844,0.000000e+00,0.000000,0.094,0.178155,NaN,13299016.0
1,Angola,1991,4.21,3630,303,88,12199,5844,1117,465,1680,361,20,15100,12174,19916,14596,101,991,0,36176,103,5010,595,1553,1084,397,11912,5216,2847,2844,4580,439,634,161975,1.060378e+10,865.692730,0.083,0.414113,NaN,12248901.0
2,Albania,1991,10.31,112,363,96,42,0,160,207,24,1,7,45,6903,2196,863,11,136,0,76,5,2698,0,107,246,16,40,421,1009,330,662,34,3,16813,1.099559e+09,336.586995,0.369,1.299249,NaN,3280397.0
3,United Arab Emirates,1991,1.87,28,25,16,6,0,63,31,11,4,39,49,1659,182,299,11,121,0,24,3,697,0,204,221,9,4,824,330,77,122,48,15,5122,5.155217e+10,26612.253110,0.022,28.218434,NaN,1937159.0
4,Argentina,1991,5.44,757,5161,1526,1323,9,1120,2007,433,670,24,1587,97610,9048,9257,992,2875,0,1006,32,57122,114,7345,7261,305,1275,4502,10211,5895,12062,645,108,242282,1.897200e+11,5735.359981,0.831,3.549404,NaN,33079002.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4309,Uzbekistan,2019,5.85,175,1119,544,41,0,1597,974,228,585,188,2445,107394,10787,5257,156,3793,0,161,178,22338,0,8154,3971,368,9,4929,3837,13042,15019,684,130,208103,5.990767e+10,1784.009816,0.204,3.602454,NaN,32981714.0
4310,Vanuatu,2019,1.80,6,19,13,12,1,32,3,8,19,1,41,869,113,69,4,51,0,68,1,225,0,127,70,2,12,67,172,49,92,4,3,2153,9.365263e+08,3122.982599,0.758,0.529612,NaN,299882.0
4311,South Africa,2019,28.47,2221,6603,1300,2101,464,1511,19122,1379,143851,115,19785,82661,28941,17138,582,7864,68,13500,421,54803,38,27471,12353,511,2037,19239,17827,5824,13356,2179,124,505389,3.879350e+11,6624.761865,0.708,8.038352,NaN,58558267.0
4312,Zambia,2019,12.52,2065,763,203,1899,4777,359,1616,804,22540,60,7056,18157,8190,9851,137,1398,4,7224,84,9789,1,2573,1931,309,1828,2285,2388,4593,6528,326,263,120001,2.330867e+10,1305.001031,0.338,0.421489,NaN,17861034.0
4313,Zimbabwe,2019,4.83,1450,812,232,2884,2068,827,1434,1294,20722,127,10465,17810,12897,8609,53,2403,660,4635,37,12353,11,3460,2292,405,2855,2554,2891,2065,4437,662,136,123540,1.928429e+10,1316.740657,0.293,0.723861,NaN,14645473.0

In [80]:
df_obe = pd.read_csv('./Probabilidad de morir por pais/share-of-adults-defined-as-obese.csv')

df_obe

,Entity,Code,Year,"Indicator:Prevalence of obesity among adults, BMI &GreaterEqual; 30 (crude estimate) (%) - Sex:Both sexes"
0,Afghanistan,AFG,1975,0.4
1,Afghanistan,AFG,1976,0.4
2,Afghanistan,AFG,1977,0.5
3,Afghanistan,AFG,1978,0.5
4,Afghanistan,AFG,1979,0.5
...,...,...,...,...
8479,Zimbabwe,ZWE,2012,11.1
8480,Zimbabwe,ZWE,2013,11.3
8481,Zimbabwe,ZWE,2014,11.6
8482,Zimbabwe,ZWE,2015,11.9
8483,Zimbabwe,ZWE,2016,12.3

In [81]:
df_obe = df_obe.rename(columns={"Entity": 'Country','Indicator:Prevalence of obesity among adults, BMI &GreaterEqual; 30 (crude estimate) (%) - Sex:Both sexes':'Obesity(%)'})

df_obe

          Country Code  Year  Obesity(%)
0     Afghanistan  AFG  1975         0.4
1     Afghanistan  AFG  1976         0.4
2     Afghanistan  AFG  1977         0.5
3     Afghanistan  AFG  1978         0.5
4     Afghanistan  AFG  1979         0.5
...           ...  ...   ...         ...
8479     Zimbabwe  ZWE  2012        11.1
8480     Zimbabwe  ZWE  2013        11.3
8481     Zimbabwe  ZWE  2014        11.6
8482     Zimbabwe  ZWE  2015        11.9
8483     Zimbabwe  ZWE  2016        12.3

[8484 rows x 4 columns]

In [82]:
df_obe = df_obe.drop(columns=['Code'])

df_obe

          Country  Year  Obesity(%)
0     Afghanistan  1975         0.4
1     Afghanistan  1976         0.4
2     Afghanistan  1977         0.5
3     Afghanistan  1978         0.5
4     Afghanistan  1979         0.5
...           ...   ...         ...
8479     Zimbabwe  2012        11.1
8480     Zimbabwe  2013        11.3
8481     Zimbabwe  2014        11.6
8482     Zimbabwe  2015        11.9
8483     Zimbabwe  2016        12.3

[8484 rows x 3 columns]

In [83]:
df_completo = pd.merge(df_obe, df_completo, on=['Country', 'Year'], how='inner')

df_completo

,Country,Year,Obesity(%),Unemployment,Meningitis,Alzheimers Disease and Other Dementias,Parkinsons Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Total,GDP,GDP/cap,Elect(lib),CO2/cap,Total alcohol per capita(L),Population
0,Afghanistan,1991,1.1,10.65,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092,156844,0.000000e+00,0.000000,0.094,0.178155,NaN,13299016.0
1,Afghanistan,1992,1.2,10.82,2475,1162,378,2441,239,1514,2299,3315,48,118,4976,46557,27404,20060,80,855,614,6123,38,12218,4344,2153,3776,386,2404,5106,6223,2830,5335,360,3325,169156,0.000000e+00,0.000000,0.094,0.122916,NaN,14485543.0
2,Afghanistan,1993,1.2,10.72,2812,1187,384,2837,108,1687,2589,3671,56,132,5254,47951,31116,22335,85,943,225,8174,41,12634,4096,2195,3862,425,2797,5681,6445,2943,5568,396,3601,182230,0.000000e+00,0.000000,0.092,0.106182,NaN,15816601.0
3,Afghanistan,1994,1.3,10.73,3027,1211,391,3081,211,1809,2849,3863,63,142,5470,49308,33390,23288,88,993,160,8215,44,12914,8959,2231,3932,451,3038,6001,6664,3027,5739,420,3816,194795,0.000000e+00,0.000000,0.092,0.094065,NaN,17075728.0
4,Afghanistan,1995,1.4,11.18,3102,1225,394,3131,175,1881,2969,4035,71,151,5628,50158,34030,23722,91,1032,381,9566,46,13106,5525,2248,3974,467,3087,6211,6823,3076,5843,434,3946,196528,0.000000e+00,0.000000,0.092,0.086323,NaN,18110662.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3836,Zimbabwe,2012,11.1,5.15,1586,724,209,3095,2763,754,1243,1414,38354,90,12424,16083,13378,9650,46,2092,0,5830,40,10454,10,2970,2004,366,3065,2328,2708,2011,4132,622,152,140597,1.711485e+10,1304.968011,0.263,0.848359,NaN,13115149.0
3837,Zimbabwe,2013,11.3,4.98,1448,731,209,3017,3544,732,1241,1385,33646,93,11855,16098,12973,9500,46,2103,125,5528,38,10574,8,3007,2013,362,2987,2289,2693,1964,4107,612,148,135076,1.909102e+10,1429.998461,0.286,0.861011,NaN,13350378.0
3838,Zimbabwe,2014,11.6,4.77,1422,741,212,2977,3685,734,1257,1362,31034,98,11450,16356,12888,9397,47,2156,8,5247,38,10857,5,3094,2057,367,2948,2302,2715,1952,4138,615,146,132305,1.949552e+10,1434.896277,0.296,0.862180,NaN,13586710.0
3839,Zimbabwe,2015,11.9,4.78,1439,754,215,3019,2518,770,1302,1355,29162,104,11214,16649,12974,9278,48,2235,16,5102,37,11161,13,3176,2108,381,2990,2373,2751,1956,4202,632,146,130080,1.996312e+10,1445.069702,0.295,0.865772,4.92,13814642.0
3840,Zimbabwe,2016,12.3,4.79,1457,767,219,3056,2050,801,1342,1338,27141,110,10998,16937,13024,9065,49,2296,31,5002,37,11465,6,3259,2160,393,3027,2436,2788,1962,4264,648,146,128274,2.054868e+10,1464.588957,0.291,0.728822,NaN,14030338.0

In [85]:
df_completo.to_csv('cleaning.csv', index=False)